
<div class="container-fluid" id="contactForm">

    @Html.Partial("_formularioContacto")
</div>
<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-md-1 col-lg-1 d-none d-sm-none d-md-block d-lg-block"></div>
        <div class="col-md-4 col-lg-4 col-sm-12">
            <p>
                Contacto: CDMX 55-5282-7276, del interior 800-201-5894
                Lunes a viernes de 9:00 a 14:00 hrs. y de 16:00 a 19:00 hrs.
                Diapro® es la marca mexicana de productos para la incontinencia en mujeres, incontinencia en adultos
                e incontinencia en hombres. Conoce más sobre los tipos de incontinencia que existen, las causas de
                la incontinencia urinaria y más información para pacientes con incontinencia.
                *Se recomienda cambiar el producto cada 3 horas.
            </p>
        </div>
        <div class="col-md-3 col-lg-3  d-none d-sm-none d-md-block d-lg-block"></div>
        <div class="col-md-3 col-lg-3 col-sm-12">
            <a href="/Home/avisoPrivacidad">AVISO DE PRIVACIDAD</a> <a href="https://www.kimberly-clark.com.mx/legal.htm" target="_blank" rel="noopener">LEGALES</a>
        </div>
        <div class="col-md-1 col-lg-1 d-none d-sm-none d-md-block d-lg-block"></div>
    </div>
</footer>
