 <nav class="navbar navbar-expand-lg navbar-default fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/Home/Index">
                <img src="~/img/logoDiapro.svg" width="210" height="70" loading="lazy"
                     class="img-responsive" title="Diapro Productos para Incontinencia" alt="Diapro Productos para Incontinencia Urinaria">
            </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar"
        aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="nav navbar-nav">
          <a class="nav-link link1" href="/Productos/Index" title="Productos para la incontinencia urinaria Diapro" >PRODUCTOS</a>
          <a class="nav-link link1" href="/Incontinencia/Index" title="Sobre la incontinencia urinaria">INCONTINENCIA</a>
          <a class="nav-link link1" href="/Cuidadores/Index" title="Cuidadores, información útil sobre cuidados de incontinencia urinaria">CUIDADORES</a>
          <a href="#contacto" class="nav-link link1 d-none d-sm-none d-md-block d-lg-block" title="Contacto">CONTACTO</a>
          <a href="#contacto" onclick="contactoForm()" class="nav-link link1 d-sm-block d-md-none d-lg-none" data-bs-toggle="collapse" data-bs-target="#myNavbar">CONTACTO</a>
        </div>
      </div>
    </div>
  </nav>
