<div class="container artProd">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 col-sm-12 col-xs-12 frase">
            <h4><strong>Disfruta la vida</strong></h4>
            <p><em>Mantente activa, nosotros te ayudamos<br> a sentirte segura y protegida.</em></p>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 artProducto center-block text-center">
            <img src="~/img/diapro10panales.webp" alt="Tipos de Incontinencia">
            <h4>Pañal anatómico para adulto Diapro</h4>
            <div class="butConoceSecc"><span><a href="/Productos/panal-anatomico-diapro">CONÓCELO AQUÍ</a></span></div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="container TitleArtRel">
    <div class="row">
        <div class="col-md-12">
            <h2>Artículos relacionados</h2>
        </div>
    </div>
</div>
