<div class="container text-center">
    <div class="row seccProductos center-block text-center">
        <div class="col-md-4 col-sm-12 center-block text-center">
            <div class=" divSeccProductos">
                <div class="center-block text-center">
                    <p>
                        Gel Pañales <br/>
                        <span class="diapro1">Predoblados Diapro<sup>&reg;</sup></span>
                    </p>
                </div>
                <div>
                    <img src="~/img/prod-panalesPredoblados.webp" loading="lazy" class="img-responsive center-block"
                         alt="Diapro pañales predoblados">
                </div><br/>
                <div class="butConoceSecc"><a href="/Productos/gel-panales-predoblados"><span>Conoce más</span></a></div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 center-block text-center">
            <div class=" divSeccProductos">
                <div class="center-block text-center">
                    <p>
                        Pants Calzones<br/>
                        <span class="diapro2">Diapro<sup>&reg;</sup></span>
                    </p>
                </div>
                <div>
                    <img src="~/img/prod-calzones.webp" loading="lazy" class="img-responsive center-block"
                         alt="Diapro pants calzones">
                </div><br/>
                <div class="butConoceSecc"><a href="/Productos/pants-calzones-diapro"><span>Conoce más</span></a></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 center-block text-center">
            <div class=" divSeccProductos">
                <div class="center-block text-center">
                    <p>
                        Toallitas Húmedas<br/>
                        <span class="diapro3">Diapro<sup>&reg;</sup></span>
                    </p>
                    <div>
                        <img src="~/img/prod-toallitas.webp" loading="lazy" class="img-responsive center-block"
                             alt="Diapro toallitas humedas">
                    </div><br/>
                    <div class="butConoceSecc"><a href="/Productos/toallitas-humedas"><span>Conoce más</span></a></div>
                </div>

            </div>
        </div>

    </div>
</div>
<br/><br/>
<div class="container">
    <div class="row">

    </div>
</div>
<br/><br/><br/><br/>

