<div class="container-fluid">
    <div class="row">
        <iframe src="/Cuidadores/sliderCuidadores1" scrolling="no" seamless="seamless" height="550" width="100%"
                allowtransparency="true" style="border:none;"></iframe>
    </div>
</div>
