@{
    ViewBag.Title = "Diapro | Productos para Incontinencia Urinaria | Diapro Productos para Incontinencia Urinaria";
}

@section metas{
    <meta id="ctl00_MetaDesc" name="description" content="Diapro es la marca mexicana de productos para la incontinencia urinaria. Conoce qué es la incontinencia y los tratamientos para los escapes de orina." />
    <meta id="ctl00_MetaKey" name="keywords" content="diapro, pañales para adulto, calzones desechables, incontinencia urinaria, incontinencia en adultos, escapes de orina, se me sale la pipi, " />
    <link rel="canonical" href="/Home/Index" />
}

@section styles{

    @*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@


}

<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" role="option">
                <img src="~/img/diapro-productos.webp" loading="lazy" alt="Pañales Diapro">
                <div class="carousel-caption">
                    <h3>GARANTÍA ES<br> MÁXIMA ABSORCIÓN</h3>
                    <div class="buttonSlider" onclick="descubreMas()"><span>Descubre más</span></div>
                </div>
            </div>
            <div class="item" role="option">
                <img src="~/img/diapro-productos2.webp" loading="lazy" alt="Pañal Diapro Absorción">
            </div>

        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- carousel movil-->
<div id="Carouselmovil" class="carousel slide center-block text-center" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#Carouselmovil" data-slide-to="0" class="active"></li>
        <li data-target="#Carouselmovil" data-slide-to="1"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active center-block text-center" role="option">
            <img src="~/img/productosDiaproMovil.webp" loading="lazy" class="img-responsive" alt="Pañal Confort Diapro">
            <div class="carousel-caption center-block text-center">
                <h3>GARANTÍA ES<br> MÁXIMA ABSORCIÓN</h3>
                <div class="botonMovil" onclick="descubreMas()"><span>Descubre más</span></div>
            </div>
        </div>
        <div class="item center-block text-center" role="option">
            <img src="~/img/productosDiaproMovil2.webp" loading="lazy" class="img-responsive"
                 alt="Pañal Confort Diapro">
            <div class="carousel-caption">
            </div>
        </div>
    </div>
</div>
<!-- carousel movil fin-->
  <br><br>
  <div class="container-fluid text-center">
  <h1>Diapro<sup>&reg;</sup> te brinda un <strong>cuidado extra</strong></h1><br>
</div>
 <!-- Swiper icons movil -->
 
    <div class="swiper-container hidden-md hidden-lg">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="#"><img src="~/img/iconMayor-proteccion.webp" loading="lazy"
            alt="Diapro porteccion"></a><br><br>
          <h3>MAYOR PROTECCIÓN TRASERA</h3>
        </div>
        <div class="swiper-slide"> <a href="#"><img src="~/img/iconAntiescurrimiento.webp" loading="lazy"
              alt="Diapro antiescurrimiento"></a>
          <h3>DOBLE BARRERA ANTIESCURRIMIENTO</h3>
        </div>
        <div class="swiper-slide">
          <a href="#"><img src="~/img/iconCubierta-ultrasec.webp" loading="lazy" alt="Diapro ultrasec"></a>
          <h3>CUBIERTA ULTRASEC</h3>
        </div>
        <div class="swiper-slide">
          <a href="#"><img src="~/img/iconTextura-ultrasuave.webp" loading="lazy" alt="textura ultrasuave"></a>
          <h3>TEXTURA ULTRASUAVE</h3>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  <!-- Swiper icons movil end -->

 <!-- carousel ICONS desktop-->
  <div class="container-fluid text-center iconoshome hidden-xs">
    <div class="row">

      <div class="col-md-3">
        <a href="#"><img src="~/img/iconMayor-proteccion.webp" loading="lazy" alt="Diapro porteccion"></a>
        <h3>MAYOR PROTECCIÓN TRASERA</h3>
      </div>

      <div class="col-md-3">
        <a href="#"><img src="~/img/iconAntiescurrimiento.webp" loading="lazy" alt="Diapro antiescurrimiento"></a>
        <h3>DOBLE BARRERA ANTIESCURRIMIENTO</h3>
      </div>

      <div class="col-md-3">
        <a href="#"><img src="~/img/iconCubierta-ultrasec.webp" loading="lazy" alt="Diapro ultrasec"></a>
        <h3>CUBIERTA ULTRASEC</h3>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="~/img/iconTextura-ultrasuave.webp" loading="lazy" alt="textura ultrasuave"></a>
        <h3>TEXTURA ULTRASUAVE</h3>
      </div>

    </div>
  </div>
<div class="container-fluid text-center">
    <div class="row">
         <h2>Tecnología de máxima absorción con aroma a manzanilla y textura ultrasuave</h2> <br>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="divpanal">
            <div class="col-md-2 hidden-sm"></div>
            <div class="col-md-4 col-sx-12 ">
                <h3>Pañal Anatómico<br> para Adulto<br> Diapro<sup>&reg;</sup></h3>
                <div class="butDescubre" onclick="descubreMas()"><span>Descubre más</span></div>
            </div>
            <div class="col-md-1 hidden-sm"></div>
            <div class="col-md-4 divproducto col-sx-12 center-block" id="animpanal">
                <section>
                    <img class="bottom img-responsive center-block" src="~/img/diapro10panales.webp" loading="lazy"
                         alt="Diapro proteccion confiable" />
                    <img class="top" src="~/img/diapro10panales2.webp" loading="lazy" alt="Diapro confort" />
                </section>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="espacio hidden-sm"></div>
    </div>
</div>
<div class="container">
    <div class="row otrosProductos">
        <div class="col-md-4 col-sm-12">
            <div class="row divProductos">
                <div class="pull-left text-center">
                    <p>
                        Toallitas Húmedas<br>
                        <span class="diapro1">Diapro &reg;</span>
                    </p>
                    <div class="buttonConoce" onclick="conoceToallitas()"><span>Conoce más</span></div>
                </div>
                <div class="pull-right">
                    <img src="~/img/prod-toallitas.webp" loading="lazy" class="img1 img-responsive center-block"
                         alt="Diapro toallitas humedas">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row divProductos">
                <div class="pull-left text-center">
                    <p>
                        Pants Calzones<br>
                        <span class="diapro2">Diapro &reg;</span>
                    </p>
                    <div class="buttonConoce" onclick="conocePants()"><span>Conoce más</span></div>
                </div>
                <div class="pull-right">
                    <img src="~/img/prod-calzones.webp" loading="lazy" class="img-responsive center-block"
                         alt="Diapro pants calzones">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row divProductos">
                <div class="pull-left text-center">
                    <p>
                        Predoblados <br>
                        <span class="diapro3">Diapro&reg; Gel</span>
                    </p>
                    <div class="buttonConoce3" onclick="conocePredoblados()"><span>Conoce más</span></div>
                </div>
                <div class="pull-right">
                    <img src="~/img/prod-panalesPredoblados.webp" loading="lazy" class="img-responsive center-block"
                         alt="Diapro pañales predoblados">
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid text-center">
    <div class="row">
        <h2>Información relevante acerca de la <strong>incontinencia</strong></h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 iframenotasDesk">
            <div class="boxloading noticiasWaiting" style="display:block">
                <div class="preloader" style="margin-top:18%"></div>
            </div>
            <iframe id="ifrmNoticias" src="" loading="lazy" class="noticiasHome" title="Notas incontinencia"></iframe>
        </div>
    </div>
</div>
<!-- Notas movil -->
<div class="container-fluid iframenotasMovil">
    <div class="boxloading noticiasWaiting" style="display:block">
        <div class="preloader" style="margin-top:18%;width:305px;"></div>
    </div>
    <iframe id="ifrmNoticiasMovil" src="" title="Notas sobre incontinencia" class="noticiasHome"
            loading="lazy"></iframe>
</div>

<br>

<div class="container-fluid border border-primary">
    <div class="row border border-primary">
        <div class="col">
            <div id="galvideosDesktop">
                <div class="boxloading videosWaiting" style="display:initial;height:70%">
                    <div class="preloader" style="margin-top:18%"></div>
                </div>
                <iframe src="" loading="lazy" title="Video incontinencia" class="iframeVideos"></iframe>
            </div>
            <div id="galvideosMovil" class="center-block text-center">
                <div class="boxloading videosWaiting" style="display:initial;height:30%; width:305px;">
                    <div class="preloader" style="margin-top:18%"></div>
                </div>
                <iframe src="" loading="lazy" title="Video sobre incontinencia" class="iframeVideos"></iframe>
            </div>
        </div>
    </div>
</div>
  <br>
@section scripts{

    <script>
        // Carga los iframe al momento de que se muestran en el cliente
        document.addEventListener("DOMContentLoaded", function () {
            $("#ifrmNoticias").observe(function () {
                this.src = "/Noticias/Index";
            }, null);
            $("#ifrmNoticiasMovil").observe(function () {
                this.src = "/Noticias/sliderNotasMovil";
            }, null);
            $(".iframeVideos").observe(function () {
                this.src = "/SliderVideos/Index";
            }, null);
        });

        // Quita el div de carga al momento de cargar los iframes
        $(".noticiasHome").on("load", function () {
            $(".noticiasWaiting").css("display", "none");
        })
        $(".iframeVideos").on("load", function () {
            $(".videosWaiting").css("display", "none");
        })
    </script>

    <script defer id="rendered-js">
        function descubreMas() {
            location.href = '/Productos/panal-anatomico-diapro';
        }
        function conocePredoblados() {
            location.href = '/Productos/gel-panales-predoblados';
        }
        function conocePants() {
            location.href = '/Productos/pants-calzones-diapro';
        }
        function conoceToallitas() {
            location.href = '/Productos/toallitas-humedas';
        }

        //carousel swipe
$(document).ready(function () {
$(".carousel").swipe({
        swipe: function (event, direction, distance, duration, fingerCount, fingerData) {
          if (direction == 'left') $(this).carousel('next');
          if (direction == 'right') $(this).carousel('prev');
        },
        allowPageScroll: "vertical"
      });
    });
//end swipe
  //Swiper Iconos
    var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      paginationClickable: true
      // resizeReInit: true,
      // autoHeight: true
    });

        function defer(method) {
            if (window.jQuery)
                method(); else

                setTimeout(function () {
                    defer(method);
                }, 50);
        }
        defer(function () {
            (function ($) {

                function doneResizing() {
                    var totalScroll = $('.logo-slider-frame').scrollLeft();
                    var itemWidth = $('.logo-slider-item').width();
                    var difference = totalScroll % itemWidth;
                    if (difference !== 0) {
                        $('.logo-slider-frame').animate({
                            scrollLeft: '-=' + difference
                        },
                            500, function () {
                                // check arrows
                                checkArrows();
                            });
                    }
                }

                function checkArrows() {
                    var totalWidth = $('#logo-slider .logo-slider-item').length * $('.logo-slider-item').width();
                    var frameWidth = $('.logo-slider-frame').width();
                    var itemWidth = $('.logo-slider-item').width();
                    var totalScroll = $('.logo-slider-frame').scrollLeft();

                    if (totalWidth - frameWidth - totalScroll < itemWidth) {
                        $(".next").css("visibility", "hidden");
                    } else {
                        $(".next").css("visibility", "visible");
                    }
                    if (totalScroll < itemWidth) {
                        $(".prev").css("visibility", "hidden");
                    } else {
                        $(".prev").css("visibility", "visible");
                    }
                }

                $('.arrow').on('click', function () {
                    var $this = $(this),
                        width = $('.logo-slider-item').width(),
                        speed = 500;
                    if ($this.hasClass('prev')) {
                        $('.logo-slider-frame').animate({
                            scrollLeft: '-=' + width
                        },
                            speed, function () {
                                // check arrows
                                checkArrows();
                            });
                    } else if ($this.hasClass('next')) {
                        $('.logo-slider-frame').animate({
                            scrollLeft: '+=' + width
                        },
                            speed, function () {
                                // check arrows
                                checkArrows();
                            });
                    }
                }); // end on arrow click

                $(window).on("load resize", function () {
                    checkArrows();
                    $('#logo-slider .logo-slider-item').each(function (i) {
                        var $this = $(this),
                            left = $this.width() * i;
                        $this.css({
                            left: left
                        });

                    }); // end each
                }); // end window resize/load
                var resizeId;
                $(window).resize(function () {
                    clearTimeout(resizeId);
                    resizeId = setTimeout(doneResizing, 500);
                });
            })(jQuery); // end function
        });
                                          //# sourceURL=pen.js
    </script>
}
