<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="buttonhome">
            <button class="btnRecord">Mi Puntaje</button>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-6"><button class="btnland">Aviso de privacidad</button></div>
                <div class="col-6"><button class="btnland">Legales</button></div>
                <div class="col-12" id="buttonhome">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum in numquam fuga consectetur rerum autem similique, eum doloremque cumque provident atque nihil fugiat esse nulla omnis maxime earum odio.</p>
                </div>
            </div>
        </div>
    </div>

</footer>

