
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/all.css">
    <link type="text/css" rel="stylesheet" href="~/css/estilos.css">
    <script async="" src="./aviso_files/gtm.js.descarga"></script>
    <script type="text/javascript" async="" src="./aviso_files/recaptcha__es_419.js.descarga" crossorigin="anonymous" integrity="sha384-Ag5UUUdHnFzDj7r+eQKdXkZ/aZDB+3YDIVmfcCRuTDC4DvRS7d1EgbviGYxCNQC7"></script>
    <script async="" src="./aviso_files/gtm.js(1).descarga"></script>
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NVS2XTM');</script>
    <!-- End Google Tag Manager -->

    <title>Kleenex® Mascarillas /Aviso</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NVS2XTM"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid" id="logo">
            <a class="navbar-brand" href="/home/index"> <img src="~/images/km_logo.webp" alt=""> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse support" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item"> <a class="nav-link active" aria-current="page" href="../home/index">Kleenex® Mascarillas</a> </li>
                    <li class="nav-item"> <a class="nav-link active" href="/home/index#icons">Características</a> </li>
                    <li class="nav-item"> <a class="nav-link active" href="/home/index#presentaciones">Presentaciones</a> </li>
                    <li class="nav-item"> <a class="nav-link active" href="/home/index#especial">Ediciones Especiales</a> </li>
                    <li class="nav-item"> <a class="nav-link active" href="/home/index#rese%C3%B1as">Reseñas</a> </li>
                    <li class="nav-item"> <a class="nav-link active" href="/Preguntasfrecuentes/index">Preguntas Frecuentes</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="container text-center" id="fqs">
        <div class="row">
            <div class="col-12" id="fqshead">
                <h1>AVISO DE PRIVACIDAD</h1>
                <p>
                    <trong>
                        NOTA:</strong> Todos los usuarios de este sitio de internet, al inscribirse aceptan expresamente el siguiente aviso de privacidad, por eso le pedimos que antes de continuar y registrarse, lea con detenimiento, el tratamiento de los datos personales a los que tendremos acceso (si usted nos los proporciona) y a los derechos que a continuación se describen. La sola navegación en este sitio de internet, no compromete ningún dato personal, salvo que usted decida voluntariamente registrarse para los fines aquí descritos. Al estar de acuerdo con los términos y condiciones del presente Aviso de Privacidad, el usuario manifiesta su consentimiento expreso e inequívoco para que se dé uso y tratamiento a todos y cada uno de los datos personales señalados, especialmente aquellos identificados como sensibles en el apartado correspondiente.
                </p>
            </div>
            <div class="col-sm-12 col-md-6" id="question">
                <h3>RESPONSABLE</h3>
                <p> Kimberly-Clark de México, S.A.B. de C.V. (en adelante “KCM”), ubicado en la calle Jaime Balmes No. 8, piso 9 Col. Los Morales Polanco, C.P. 11510, Ciudad de México, es la responsable del debido tratamiento y resguardo de los datos personales que son recabados a través del sitio web www.kleenexmascarillas.com. </p>
            </div>
            <div class="col-sm-12 col-md-6" id="questiondos">
                <h3>DATOS REQUERIDOS</h3>
                <p>
                    Los datos que podrán  ser requeridos al registrase o contactarnos en el sitio web www.kleenexmascarillas.com son los siguientes:
                    i) Nombre y apellidos del usuario; ii) cuenta de correo electrónico;  iii) teléfono celular iv) fecha de nacimiento (año, mes y día); v) género (sexo); vi) país, estado y código postal de residencia; vii) estado civil.
                    Tal y como se señala en nuestras Políticas de Privacidad (www.kleenexmascarillas.com/aviso-privacidad/), al registrarse en nuestro portal usted podrá vaciar los datos requeridos a través de dos opciones de llenado: a) de manera manual, al teclear en su ordenador o dispositivo móvil la información correspondiente; o bien b) mediante el registro a través de su cuenta de usuario de las redes sociales Facebook®, Twitter® o Google® (Google+®), según sea el caso y cuando resulte aplicable. En este último supuesto, al utilizar los datos de su cuenta de usuario de las redes sociales mencionadas se obtendrán, de manera adicional y complementaria a los ya señalados, los datos contenidos en tales redes, mismos que son los siguientes:
                    • I).- Para el caso de la red social Facebook®: a) nombre; b) nombre del usuario en su perfil de la cuenta; c) edad; d) fecha de cumpleaños; e) imagen o fotografía de perfil; f) género (sexo); g) idioma que opera en su cuenta; h) país, estado, ciudad y código postal de residencia; i) datos sobre su educación contenidos en su perfil (historial académico); j) lugar de trabajo y antecedentes laborales contenidos en su perfil; k) ciudad de origen; l) situación sentimental (relationship status); m) intereses; n) descripción personal; ñ) información sobre los “Me Gusta” (like) otorgados por el usuario; o) uso horario correspondiente; p) datos e información contenidos en su “biografía”; q) vista de la página (thumbnail); y r) favoritos.
                    • II.- Para el caso de la red social Twitter®: a) nombre; b) nombre del usuario en su perfil de la cuenta; c) vista de la página (thumbnail); d)imagen o fotografía de perfil; y e) país.
                    • III.- Para el caso de la red social Google® (Google+®): a) nombre; b) nombre del usuario en su perfil; c) edad; d) fecha de nacimiento; e) género (sexo); f) ciudad de residencia; g) cuenta de correo electrónico; h) imagen o fotografía de perfil; i) datos e información del perfil; j) datos sobre su educación contenidos en su perfil (historial académico); k) lugar de trabajo y antecedentes laborales contenidos en su perfil; l) idioma que opera en su cuenta; y m) uso horario correspondiente.
                    La anterior información sólo será accesible para nosotros una vez que el usuario de manera expresa autorice el registro en nuestro sitio (www.kleenexmascarillas.com) mediante el uso del perfil que el usuario tiene con la red social de que se trate. Por ello, si usted no desea que la red social que utilice para registrarse en nuestro portal permita el acceso a determinados datos, le aconsejamos que revise las políticas de privacidad, términos y condiciones a las que usted se encuentra suscrito con dichas redes sociales, toda vez que KCM no tiene injerencia sobre el tenor y contenido de dichas reglas.
                </p>
            </div>
            <div class="col-sm-12 col-md-6" id="question">
                <h3>DATOS PERSONALES SENSIBLES.-</h3>
                <p> Es oportuno señalar que los datos que pudieran recabarse identificados en los incisos e), k), m), n) o) y r) del apartado I anterior (para el caso del registro mediante la red social Facebook®); d) del apartado II anterior (para el caso del registro mediante la red social Twitter®); y h) del apartado III anterior (para el caso del registro mediante la red social Google+®) resultan sensibles en los términos de la Ley Federal de Protección de datos Personales en Posesión de los Particulares. Lo anterior se hace de su conocimiento para el efecto de que el consentimiento que se otorgue al momento de suscribir el presente Aviso de Privacidad sea expreso y consiente de dicha circunstancia. </p>
            </div>
            <div class="col-sm-12 col-md-6" id="questiondos">
                <h3>FINALIDADES DEL TRATAMIENTO DE LOS DATOS PERSONALES</h3>
                <p>
                    Los datos arriba listados se solicitan para:
                    • Comercializar productos y servicios ofrecidos por KCM y sus empresas afiliadas y subsidiarias.
                    • Ofrecer al usuario del portal www.kleenexmascarillas.com , información sobre cambios, nuevos productos y/o servicios de todos y cada uno de los productos, servicios y marcas de KCM y sus empresas afiliadas y subsidiarias.
                    •Ofrecer al usuario del portal www.kleenexmascarillas.com la posibilidad de contactarnos para la resolución de diversas preguntas y dudas o para realizar sugerencia o comentarios que pueda tener respecto a los productos, servicios y marcas de KCM, empresas afiliadas y subsidiarias.
                    • Realizar campañas, por medios electrónicos, de promociones de nuevos productos y/o servicios correspondientes a la marca Kleenex así como a todas y cada una de las marcas de KCM y sus empresas afiliadas y subsidiarias.
                    • Realizar campañas, por medios electrónicos, de promociones de nuevos productos y/o servicios correspondientes a la marca Kleenex así como a todas y cada una de las marcas de KCM y sus empresas afiliadas y subsidiarias. En el entendido que, para estos efectos, se podrá utilizar la cuenta de correo electrónico proporcionada, así como las redes sociales abiertas con dicha cuenta de correo electrónico.
                    • Evaluar la calidad de nuestros productos y/o servicios de KCM y sus empresas afiliadas y subsidiarias.
                    • Analizar los patrones de consumo de los productos y servicios que ofrece KCM y sus empresas afiliadas y subsidiarias.
                    • Que exista la posibilidad de tener una relación de manera directa y personal con los clientes, a fin de acreditar la identificación del titular de dichos datos personales, de conformidad con las leyes y disposiciones aplicables.
                    • Analizar el perfil de gustos, consumo, preferencias e inquietudes de nuestros usuarios para ofrecerles contenido y productos de manera personalizada.
                    • Identificar los valores de nuestros usuarios para el efecto de ser consecuentes con los mismos al momento de promocionar y ofrecer nuestros productos.
                    •Identificar el grado de preparación académica y profesional, así como el estilo de vida de nuestros usuarios para ofrecerles y comunicarles acerca de productos acordes a sus necesidades y preferencias.
                </p>
            </div>
            <div class="col-sm-12 col-md-6" id="question">
                <h3>TRANSFERENCIA DE LOS DATOS</h3>
                <p> Los datos personales que se recaben serán compartidos en los términos del artículo 37, fracción III de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, con sociedades controladoras, subsidiarias o afiliadas bajo el control común de KCM, o a una sociedad matriz, a cualquier sociedad del mismo grupo de KCM, así como al grupo al que pertenece KCM. Exceptuando lo precisado en el párrafo anterior, a ninguna otra persona o entidad distinta de KCM, le serán transferidos los datos recabados a través del registro en el portal www.kleenexmascarillas.com. </p>
            </div>
            <div class="col-sm-12 col-md-6" id="questiondos">
                <h3>DERECHOS ARCO</h3>
                <p> (Acceso, Rectificación, Cancelación y Oposición) y REVOCACIÓN del consentimiento para el tratamiento de los datos. Para cualquier acceso, rectificación, cancelación, oposición o revocación en el manejo de los datos personales obtenidos a través del sitio de internet www.kleenexmascarillas.com, KCM pone a su disposición el correo electrónico privacidad@kcc.com, a cargo de la Gerencia de Servicios de Internet, en términos del Capítulo IV de la LFPDP, artículo 21 de su Reglamento, así como de las disposiciones contenidas en los Lineamientos del Aviso de Privacidad emitidas por la Secretaría de Economía. Para estos efectos, el usuario deberá enviar a dicha dirección de correo electrónico un escrito en el que señale, de manera clara y expedita, qué datos y en qué medida desea tener acceso, o bien, rectificar, cancelar, oponerse o revocar su consentimiento al tratamiento de los mismos, adjuntando la documentación que sustente su petición. Además deberá señalar el nombre de usuario y la cuenta de correo electrónico con la que se dio de alta en el portal www.kleenexmascarillas.com. Una vez que sea recibida la petición debidamente requisitada en la cuenta de correo electrónico ya señalada, KCM contará con un plazo de veinte días (mismos que podrán ser ampliados por un periodo igual, dependiendo de las circunstancias del caso) para resolver la petición correspondiente. De resultar procedente la petición del usuario, KCM deberá cumplir con la misma en un plazo de quince días contados a partir de la emisión de la resolución correspondiente. </p>
            </div>
            <div class="col-sm-12 col-md-6" id="question">
                <h3> OPCIONES Y MEDIOS PARA LIMITAR EL USO O DIVULGACIÓN DE LOS DATOS PERSONALES </h3>
                <p> El límite en cuanto al uso y divulgación de los datos personales recabados a través del portal www.kleenexmascarillas.com., se encuentra circunscrito a las políticas de privacidad expuestas en la dirección electrónica (www.kleenexmascarillas.com/aviso-privacidad/). Una vez que el usuario decida cancelar su cuenta personal del sitio web www.kleenexmascarillas.com., dejará de recibir todo tipo de avisos o notificaciones relativas a la misma. En caso de que un usuario únicamente decida dejar de recibir comunicaciones, notificaciones o avisos correspondientes a los productos y servicios de KCM, ésta pone a su disposición la dirección de correo electrónico privacidad@kcc.com, para que el usuario así lo manifieste de manera expresa. </p>
            </div>
            <div class="col-sm-12 col-md-6" id="questiondos">
                <h3>MECANISMOS EN MEDIOS REMOTOS O LOCALES</h3>
                <p> Cuando usted interactúa dentro del portal www.kleenexmascarillas.com. podemos reunir otra clase de información no personal, como el tipo de navegador, la dirección IP y las páginas visitadas, o información sobre los servicios que usa, las búsquedas que realiza, los resultados de esas búsquedas, correos electrónicos de KCM que abre y/o envía, ofertas de KCM o vínculos a los que se conecte mediante correos electrónicos y otra información relacionada con el uso que usted hace del portal mencionado. También usamos cookies y otras tecnologías para manejar, mejorar y optimizar nuestro sitio con el fin de ofrecerle una experiencia más personalizada. NO OBSTANTE, POR LOS MEDIOS ANTES SEÑALADOS, NUNCA SERÁN RECABADOS DATOS PERSONALES. </p>
            </div>
            <div class="col-sm-12 col-md-6" id="question">
                <h3>CAMBIOS AL AVISO DE PRIVACIDAD</h3>
                <p> En caso de realizar modificaciones a nuestro Aviso de Privacidad, enviaremos un correo electrónico a nuestros usuarios, a la cuenta con la que se dieron de alta en el sitio web www.kleenexmascarillas.com., para informarles sobre dichos cambios, mismo que incluirá el vínculo para consultarlos. </p>
            </div>
            <div class="col-sm-12 col-md-6" id="questiondos">
                <h3>
                    CONSENTIMIENTO DEL USUARIO
                    MENORES DE EDAD.-
                </h3>
                <p> Si eres menor de edad, debes contar con el consentimiento de tu padre o tutor antes de proporcionarnos cualquier dato personal que pudiera identificarte. Al estar de acuerdo con los términos y condiciones del presente Aviso de Privacidad, el usuario manifiesta su consentimiento expreso e inequívoco para que se dé uso y tratamiento a todos y cada uno de los datos personales señalados, especialmente aquellos identificados como sensibles en el apartado correspondiente. </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" id="question">
            <h3>POLÍTICAS DE PRIVACIDAD</h3>
            <p>
                Los usuarios que se registren dentro del portal de internet de pañuelos Kleenex® (www.kleenexmascarillas.com), autorizan a Kimberly-Clark de México, S.A.B. de C.V. (en adelante “KCM”) la obtención y utilización de los datos e información que los usuarios de dicho portal le faciliten en los términos de la presentes políticas de privacidad y del Aviso de Privacidad que, en cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, está al alcance y disposición de los titulares de dichos datos para que, previamente a la obtención de la información que nos ocupa, otorguen su consentimiento para estos efectos en los términos de la legislación citada.
                Por ello, le informamos que a través de nuestro portal (www.kleenexmascarillas.com) se obtienen diversos datos, tanto aquellos que son proporcionados directamente por usted al registrarse, como aquellos obtenidos al navegar en nuestro portal.
                Asimismo, al registrarse usted podrá vaciar sus datos a través de dos opciones de llenado: a) de manera manual, al teclear en su ordenador o dispositivo móvil la información correspondiente; o bien b) mediante el registro a través de su cuenta de usuario de las redes sociales Facebook®, Twitter® o Google®. En este último caso, al utilizar los datos de su cuenta de usuario de las redes sociales mencionadas, se obtendrán los datos ahí contenidos, mismos que son los siguientes:
                • Para el caso de la red social Facebook®: a) nombre; b) nombre del usuario en su perfil de la cuenta; c) edad; d) fecha de cumpleaños; e) imagen o fotografía de perfil; f) género (sexo); g) idioma que opera en su cuenta; h) país, estado, ciudad y código postal de residencia; i) datos sobre su educación contenidos en su perfil (historial académico); j) lugar de trabajo y antecedentes laborales contenidos en su perfil; k) ciudad de origen; l) situación sentimental (relationship status); m) intereses; n) descripción personal; ñ) información sobre los “Me Gusta” (like) otorgados por el usuario; o) uso horario correspondiente; p) datos e información contenidos en su “biografía”; q) vista de la página (thumbnail); y r) favoritos.
                • Para el caso de la red social Twitter®: a) nombre; b) nombre del usuario en su perfil de la cuenta; c) vista de la página (thumbnail); d)imagen o fotografía de perfil; e) país.
                • Para el caso de la red social Google® (Google+®): a) nombre; b) nombre del usuario en su perfil; c) edad; d) fecha de nacimiento; e) género (sexo); f) ciudad de residencia; g) cuenta de correo electrónico; h) imagen o fotografía de perfil; i) datos e información del perfil; j) datos sobre su educación contenidos en su perfil (historial académico); k) lugar de trabajo y antecedentes laborales contenidos en su perfil; l) idioma que opera en su cuenta; m) uso horario correspondiente.
                La anterior información sólo será accesible para nosotros una vez que el usuario de manera expresa autorice el registro en nuestro sitio (www.kleenexmascarillas.com) mediante el uso del perfil que el usuario tiene con la red social de que se trate. Por ello, si usted no desea que la red social que utilice para registrarse en nuestro portal permita el acceso a determinados datos, le aconsejamos que revise las políticas de privacidad, términos y condiciones a las que usted se encuentra suscrito con dichas redes sociales, toda vez que KCM no tiene injerencia sobre el tenor y contenido de dichas reglas.
                Asimismo, al registrarse dentro de este sitio web a través de alguna de sus cuentas de redes sociales, los usuarios aceptan y están de acuerdo en que KCM, de forma constante, importe y conserve las actualizaciones o modificaciones que hagan de alguno de los datos arriba mencionados.
                Para estos efectos, el grado de privacidad que usted decida compartir deberá sujetarse a los términos, condiciones y ajustes de privacidad a los que usted tiene acceso como usuario de dichas redes sociales.
                Si usted no desea que mediante el registro en nuestro portal se tenga acceso a los datos e información arriba precisados, le sugerimos realizar su registro sin utilizar su cuenta y perfil de la red social correspondiente.
                Finalmente, al registrarse dentro del sitio web de Kleenex®, usted autoriza y está conforme con que KCM aloje la información que usted le comparta, misma que será utilizada de conformidad con los usos, términos y condiciones que se exponen en el Aviso de Privacidad, en cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
                En esa inteligencia, hacemos del conocimiento de los usuarios del portal www.kleenexmascarillas.com que al navegar por este portal podremos obtener, mediante la utilización de cookies y otras tecnologías de análisis web (como Web Beacons y etiquetas de remarketing) diversa información, como lo sería el tipo de navegador, su dirección IP, las páginas que usted visita, resolución de su pantalla y el tiempo de permanencia en el sitio web. En caso que usted no quiera compartir esta información, le sugerimos modificar los ajustes y configuración del navegador de red que utilice, así como los de su ordenador o dispositivo móvil para el efecto de inhabilitar el uso de las tecnologías mencionadas. No obstante, le manifestamos que a través del uso de tales tecnologías no obtendremos ningún tipo de información catalogada como Dato Personal en los términos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
                Cabe señalar que KCM conservará y hará uso de dicha información para, entre otros, actualizar y mejorar los servicios que este sitio web brinda y ofrece a sus usuarios, así como para ofrecerle una experiencia más personalizada al navegar en el portal www.kleenexmascarillas.com.
            </p>
        </div>
        <div class="col-sm-12 col-md-6" id="questiondos">
            <h3>MENORES DE EDAD.-</h3>
            <p>
                Si eres menor de 18 (dieciocho) años de edad, antes de darnos tu nombre, dirección o correo electrónico, o cualquier otro dato personal que lo identifique obtén permiso de tus (s) padre(s) o tutor(es), toda vez que si te inscribes a nuestro portal de internet, estás manifestando bajo protesta de decir verdad, que cuentas con la autorización tácita de sus padres o tutores para otorgarnos tus datos personales. Los padres o tutores, son exclusivamente responsables del acceso de los menores de edad a este sitio, toda vez que son los garantes legales del cuidado y supervisión de las acciones de sus hijos, dando las facilidades a sus hijos para el ingreso a internet como a este sitio; si por equivocación tu hijo mandó sus datos sin tu consentimiento, favor de ejercer sus derechos ARCO en representación de ellos, al correo privacidad@kcc.com
                Asimismo, al inscribirse a este portal, se manifiesta expresamente el consentimiento y aceptación del usuario con los términos y condiciones del presente Aviso de Privacidad, el usuario manifiesta su consentimiento expreso e inequívoco para que se dé uso y tratamiento a todos y cada uno de los datos personales señalados, así como aquellos identificados como sensibles.
            </p>
        </div>
        </div>
    </section>
    <footer id="contacto">
        <div class="row align-items-center">
            <div id="privacidad" class="col-sm-12">
                <h4>©2021 Kimberly-Clark de México S.A.B. de C.V.</h4>
                <p>Todos los nombres, logotipos y marcas registradas son propiedad Kimberly-Clark WorldWide Inc., o sus subsidiarias o afiliadas. © Derechos reservados KCWW 2021</p>
                <p>Tu visita a este sitio y tu subsecuente uso de la información contenida en él están sujetos a los términos de nuestra Declaración Legal. Por favor revisa Nuestra Política de privacidad.</p>
            </div>
        </div>
    </footer>
    <div class="modal fade" tabindex="-1" id="exampleModalLong">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="display: flex;align-items: flex-end;"> </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="~/js/jquery-3.6.0.min.js"></script>
    <script defer="" type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script defer="" type="text/javascript" src="~/js/fontawesome.min.js"></script>
    <script defer="" type="text/javascript" src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script defer="" type="text/javascript" src="~/js/jquery.validate.min.js"></script>
    <script defer="" type="text/javascript" src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script defer="" type="text/javascript" src="~/js/xss.min.js"></script>
</body>
</html>