<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Development-->
    <add name="GanaKleenbebe" connectionString="metadata=res://*/www.gana.kleenbebe.com_1.BD.EF.www.gana.kleenbebe.csdl|res://*/www.gana.kleenbebe.com_1.BD.EF.www.gana.kleenbebe.ssdl|res://*/www.gana.kleenbebe.com_1.BD.EF.www.gana.kleenbebe.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=in10sqd500;initial catalog=www.gana.kleenbebe.com_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Quality-->
    <!--<add name="GanaKleenbebe" connectionString="metadata=res://*/www.gana.kleenbebe.com_1.BD.EF.www.gana.kleenbebe.csdl|res://*/www.gana.kleenbebe.com_1.BD.EF.www.gana.kleenbebe.ssdl|res://*/www.gana.kleenbebe.com_1.BD.EF.www.gana.kleenbebe.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=in10sqq500;initial catalog=www.gana.kleenbebe.com_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Production-->
    <!--<add name="GanaKleenbebe" connectionString="metadata=res://*/www.gana.kleenbebe.com_1.BD.EF.www.gana.kleenbebe.csdl|res://*/www.gana.kleenbebe.com_1.BD.EF.www.gana.kleenbebe.ssdl|res://*/www.gana.kleenbebe.com_1.BD.EF.www.gana.kleenbebe.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=in00sqp500;initial catalog=www.gana.kleenbebe.com_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <!--  ***** Global Settings ***** -->
    
    <!--Url site for redirection-->
    
    <!--Local-->
    <add key="Global::UrlSite" value="http://localhost:9115/" />
    <!--Development-->
    <add key="Global::UrlSite" value="https://dev1.gana.kleenbebe.com" />
    <!--Quality-->
    <!-- <add key="Global::UrlSite" value="https://qa1.gana.kleenbebe.com"/> -->
    <!--Production -->
    <!--<add key="Global::UrlSite" value="https://www.gana.kleenbebe.com"/>-->
    
    <!--Contact Params-->
    <add key="Global::IsDebug" value="True" />
    <add key="Global::ContactEmailCC" value="Ernesto.Almeida@kcc.com;gerardo.ornelas1@kcc.com" />
    <add key="Global::ContactEmailBcc" value="jorge.flores-miguel@kcc.com" />
    <add key="Global::ContactSubject" value="Dudas y/o Comentarios a gana Kleenbebe" />
    <add key="Global::ContactFrom" value="no-reply@diapro.com.mx" />
    
    <!--Recaptcha settings for kleenbebe-->
    <add key="Global::RecaptchaSecretKey" value="6Ld_454aAAAAAG_ZN_2r-pX2SXf2saW0ZwGD45tE" />
    <add key="Global::RecaptchaSiteKey" value="6Ld_454aAAAAAHq7NJALnUviqMg2NEkNEEE1x1Z9" />
    <add key="Global::RecaptchaUrlValidator" value="https://www.google.com/recaptcha/api/siteverify" />
    <add key="Global::ContactTemplateEmail" value="Config\Templates\Contact\email.html" />
    <add key="Global::ContactAttachmentEmail" value="Config\Templates\Contact\attachments;logoDiaproMail.png,productos.png" />
    
    <!--Numbers of rows by page (Admin page)-->
    <add key="Global::AdminRowsByPage" value="5" />
    <add key="Global::SessionMinutes" value="60" />
    
    
    <!--Data Path-->
    <!--Development-->
    <add key="Global::DataPath" value="\\in01arp500\Farm15-Development\data\30\com.kleenbebe.gana_shared" />
    <!-- Quality -->
    <!-- <add key="Global::DataPath" value="\\in01arp500\Farm15-Quality\data\30\com.kleenbebe.gana_shared"/> -->
    <!-- Production -->
    <!--<add key="Global::DataPath" value="\\in01arp500\Farm15-Production\data\30\com.kleenbebe.gana_shared"/>-->
    
    <!--Log Settings-->
    <!--Development-->
    <add key="Log::RutaLog" value="\\in01arp500\Farm15-Development\data\30\com.kleenbebe.gana_shared\Logs" />
    <!--Quality-->
    <!--<add key="Log::RutaLog" value="\\in01arp500\Farm15-Quality\data\30\com.kleenbebe.gana_shared\Logs"/> -->
    <!--Production-->
    <!--<add key="Log::RutaLog" value="\\in01arp500\Farm15-Production\data\30\com.kleenbebe.gana_shared\Logs"/>-->
    
    <!--Log Name-->
    <add key="Log::NombreLog" value="LogGanaKleenbebe" />
    <add key="Log::LogDiario" value="True" />
    <add key="Log::ArchivoErroresLog" value="ErrLogGanaKleenbebe" />
    
    <!--Log Error-->
    <!--Development-->
    <add key="Log::UrlErroresLog" value="\\in01arp500\Farm15-Development\data\30\com.kleenbebe.gana_shared\Logs" />
    <!--Quality-->
    <!--<add key="Log::UrlErroresLog" value="\\in01arp500\Farm15-Quality\data\30\com.kleenbebe.gana_shared\Logs"/> -->
    <!--Production-->
    <!--<add key="Log::UrlErroresLog" value="\\in01arp500\Farm15-Production\data\30\com.kleenbebe.gana_shared\Logs"/>-->
    
    <!-- SSO settings -->
    <!--Url Service-->
    <!--Local-->
    <add key="Global::UrlSSOService" value="http://localhost:13817/Services/SSO.svc/" />
    <!--Development-->
    <!--<add key="Global::UrlSSOService" value="https://dev1.kcmsso.com/Services/SSO.svc/" />-->
    <!--Quality-->
    <!--<add key="Global::UrlSSOService" value="https://qa1.kcmsso.com/Services/SSO.svc/" />-->
    <!--Production-->
    <!--<add key="Global::UrlSSOService" value="https://www1.kcmsso.com/Services/SSO.svc/" />-->
    <!--Url SSO-->
    <!--Local-->
    <add key="Global::UrlSSOLogin" value="http://localhost:13817/functions/Login.aspx" />
    <!--Development-->
    <!--<add key="Global::UrlSSOLogin" value="https://dev1.kcmsso.com/functions/Login.aspx" />-->
    <!--Quality-->
    <!--<add key="Global::UrlSSOLogin" value="https://qa1.kcmsso.com/functions/Login.aspx" />-->
    <!--Production-->
    <!--<add key="Global::UrlSSOLogin" value="https://www1.kcmsso.com/functions/Login.aspx" />-->
    
    <!--GetAcountInfo rest method for webrequest method-->
    <add key="Global::SSOgetSession" value="getAccountInfo" />
    <!--param for getAccoutinfo-->
    <add key="Global::SSOExtraProfileFieldsDescriptor" value="phones" />
    <!--ApiKey for the rest service-->
    <add key="Global::SSOapiKey" value="3_nSD2myEBhdHzeIuRpz0M2fqLYeuM6mJiJsXIZ-aVVvkaDd23OOPtW5of3SqYL1u7" />
    <!--Encription Key-->
    <add key="Global::SSOCryptoKey" value="Zq4t7w!z%C*F-J@NcRfUjXn2r5u8x/A?" />
    <!-- Expiration Time for cookie in minutes -->
    <add key="Global::SSOExpirationTime" value="20" />
    
  </appSettings>
   <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="No-reply &lt;no-reply@kleenbebe.com.mx&gt;">
        <network host="mailhost.gwsweb.net" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" requestValidationMode="2.0" enableVersionHeader="false" />
    <customErrors mode="RemoteOnly" defaultRedirect="/Home/Error">
      <error statusCode="404" redirect="/Home/Error" />
    </customErrors>
    <httpCookies httpOnlyCookies="true" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Replace">
      <remove statusCode="400" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="400" subStatusCode="-1" prefixLanguageFilePath="" path="/Home/Error" responseMode="Redirect" />
      <error statusCode="401" subStatusCode="-1" prefixLanguageFilePath="" path="/Home/Error" responseMode="Redirect" />
      <error statusCode="403" subStatusCode="-1" prefixLanguageFilePath="" path="/Home/Error" responseMode="Redirect" />
      <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="/Home/Error" responseMode="Redirect" />
      <error statusCode="500" subStatusCode="-1" prefixLanguageFilePath="" path="/Home/Error" responseMode="Redirect" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Frame-Options" value="sameorigin" />
        <add name="Content-Security-Policy" value="default-src 'none'; img-src 'self' data: blob:; media-src https://www.youtube.com/ 'self';script-src 'unsafe-inline' 'unsafe-eval' 'self' https://www.google-analytics.com/ https://www.google.com/ https://www.gstatic.com/recaptcha/ https://dev1.kcmsso.com/ http://localhost:13817 https://www.googletagmanager.com/; connect-src 'self' https://www.google-analytics.com/ https://www.google.com/ https://www.gstatic.com/recaptcha/ https://dev1.kcmsso.com/ http://localhost:13817 https://www.googletagmanager.com/; font-src 'self' https://fonts.gstatic.com/; style-src 'self' 'unsafe-inline' https://dev1.kcmsso.com/ https://fonts.googleapis.com/; object-src 'none';frame-ancestors 'self'; frame-src 'self' https://www.google.com/; upgrade-insecure-requests" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="Wed, 1 Jan 2020 00:00:00 GMT" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".x3d" mimeType="model/x3d+xml" />
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>