
@{
    ViewBag.Title = "Legales";
}


@section metas{
    @*Aquí coloca los metas*@

}

@section styles{

    @*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@
}

<main class="kbb_game">

    <div class="container" id="conteo-game">
        <div class="row">
            <div class="col-12" id="headPoint">
                <p>Info legal</p>
            </div>
        </div>
    </div>

</main>

@section scripts{

    @*Aquí pones los scripts*@

}

