@{
    ViewBag.Title = "Home Page";
}


@section metas{
    @*Aquí coloca los metas*@

}

@section styles{

    @*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@
}



<div class="game">
    <div class="gameinner">
        <form class="homeform">

            <div class="container-fluid" id="homekbb">
                <div class="row" id="homerow">
                    <div class="col-sm-12" id="collogo">
                        <img src="/images/logo_animate.gif" alt="">
                    </div>

                    <div class="col-sm-12 separador">
                        <img src="/images/separador.png" alt="">
                    </div>

                    <div class="col-sm-12" id="texthome">
                        <p>¡Gana 1 año de productos para el cuidado de tu bebé!</p>
                    </div>

                    <div class="col-sm-12" id="iconhome">
                        <div class="row">
                            <div class="contenedor">
                                <div class="cuadro"><img src="~/images/paso1.png" width=""></div>
                                <div class="cuadro2"><img src="~/images/paso2.png" width=""></div>
                                <div class="cuadro3"><img src="~/images/paso3.png" width=""></div>
                                <div class="cuadro4"><img src="~/images/paso4.png" width=""></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12" id="buttonhome">
                        <a id="comienzaAhora" class="btnland2" href="/Ticket/Index">
                            Entra aquí
                        </a>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{

}
