
@{
    ViewBag.Title = "Mecánica";
}


@section metas{
    @*Aquí coloca los metas*@

}

@section styles{

    @*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@
}

<div class="game">
    <div class="gameinner">
    <div class="col-12 ruleText">
        <img src="/images/logo_animate.gif" alt="Logo Feria Kleenbebe">
        <h1>Mecánica de juego</h1>
    </div>

        <div class="col-12 rules">
            <p>1. Para participar en <span>LA PROMOCIÓN,</span> los consumidores deberán realizar
                 una compra mínima de $160.00 (ciento sesenta pesos MXN) en productos 
                 participantes Kleen Bebé. Para que el ticket sea válido deberá tener 
                 por lo menos la compra de un paquete de pañales.</p>
            
            <p>
                2. Ingresa a <a target="_blank" href="http://gana.kleenbebe.com/">http://gana.kleenbebe.com/</a>
            </p>

            <p>3. El participante tendrá que registrar la siguiente información:<br>
                <ol>
                    <li>Nombre</li>
                    <li>Número telefónico</li>
                    <li>Correo electrónico</li>
                    <li>Fecha de nacimiento</li>
                    <li>Contraseña</li>
                    <li>Monto de compra en pañales participantes</li>
                    <li>Número de producción, éste se encuentra de lado izquierdo al código de barras</li>
                    <li>Número de ticket de compra</li>
                    <li>Foto del ticket de compra <br>
                    <ul>
                        <li>9.1. Los productos participantes deberán sumar un mínimo de $160.00°° (ciento sesenta pesos M.N. IVA incluido)</li>
                        <li>9.2. Deberá contener la compra de unos pañales</li>
                        <li>9.3. Haber sido emitido en una tienda que genere evidencia de compra</li>
                        <li>9.4. Haber realizado la compra de productos participantes del 01 de octubre del 2021 al 14 de noviembre del 2021</li>
                        <li>9.5. No deberá tener tachaduras o enmendaduras</li>
                        <li>9.6. La información deberá ser legible</li>
                    </ul>
                    </li>
                </ol>
            </p>

            <p>4. La asignación de intentos para participar por un año de pañales será de la siguiente manera:<br>
                En la compra de cualquier producto participante dentro de la promoción, el participante obtendrá las 
                siguientes participaciones con relación a su monto de compra como lo explica la siguiente tabla.</p>

                <table class="table table-striped">
                    <thead class="pointsWord">
                      <tr>
                        <th scope="col">Monto de compra</th>
                        <th scope="col">Intentos de juego</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>$160 MXN -$249 MXN</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>$250 MXN -$299 MXN</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>$300 MXN en adelante</td>
                        <td>3</td>
                      </tr>
                    </tbody>
                  </table>

                  <p>En la compra de cualquier producto participante dentro de la promoción pero que en ésta 
                      incluya etapa recién nacido, chica o mediana, el participante obtendrá una participación 
                      adicional a la asignada por monto de compra, como lo explica la siguiente tabla.</p>

                <table class="table">
                    <thead class="pointsWord">
                      <tr>
                        <th scope="col">Monto de compra</th>
                        <th scope="col">Intentos de juego</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>$160 MXN -$249 MXN</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>$250 MXN -$299 MXN</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>$300 MXN en adelante</td>
                        <td>4</td>
                      </tr>
                    </tbody>
                  </table>

                  <p>Hay dos juegos distintos durante las 4 semanas de la promoción y están distribuidos de la siguiente manera:</p>

                  <table class="table">
                    <thead class="pointsWord">
                      <tr>
                        <th scope="col">Semana</th>
                        <th scope="col">Periodo de participación</th>
                        <th scope="col">Juego</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Semana 1</td>
                        <td>15 al 24 de octubre</td>
                        <td>Sopa de letras</td>
                      </tr>
                      <tr>
                        <td>Semana 2</td>
                        <td>25 al 31 de octubre</td>
                        <td>Encuentra objetos</td>
                      </tr>
                      <tr>
                        <td>Semana 3</td>
                        <td>1 al 7 de noviembre</td>
                        <td>Sopa de letras</td>
                      </tr>
                      <tr>
                        <td>Semana 4</td>
                        <td>8 al 14 de noviembre</td>
                        <td>Encuentra objetos</td>
                      </tr>
                    </tbody>
                  </table>

                  <h4>Dinámica de juego</h4>
                  <ul><span>Juego 1 "Sopa de letras"</span>
                      <li>Encuentra todas las palabras en el menor tiempo posible, son 48 palabras en total.</li>
                  </ul>

                  <ul><span>Juego 2 "Encuentra los objetos ocultos"</span>
                    <li>Encuentra todos los objetos ocultos dentro de la imagen, son 11 artículos que encontrar en total.</li>
                </ul>

                <ol><span>Cada semana los scores se reiniciarán.</span> 
                    <li>Para tener la oportunidad de registrar otro ticket de compra, será necesario finiquitar todos los intentos de juego del ticket de compra anterior.</li>
                    <li>Cada participante podrá tener la oportunidad de ganar 1 año de pañales durante la vigencia de la promoción.</li>
                </ol>
        </div>
    </div>
</div>

@section scripts{

    @*Aquí pones los scripts*@

}

