@using KCM.ServiciosInternet.Site.Entity.Config;
<footer class="container-fluid legalscont">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-6"><button class="btnland"><a href="/Home/Aviso">Aviso de privacidad</a></button></div>
                <div class="col-6"><button class="btnland"><a href="@(Global.strUrlSite)/images/terminos_condiciones.pdf" target="_blank">Términos de uso</a></button></div>
                <div class="col-12" id="buttonhome">
                    <p><strong>Este sitio requiere que actives tus cookies para ofrecerte una mejor experiencia</strong></p>
                    <p>
                        ©2021 KLeenBebé® es una marca propiedad de Kimberly-Clark Worldwide, Inc.(KCWW)/ Todos los
                        usuarios al navegar en este sitio declaran conocer y aceptar los términos y condiciones
                        de navegación del sitio, así como los <a href="@(Global.strUrlSite)/images/terminos_condiciones.pdf" target="_blank">Términos y Condiciones de la promoción</a> en caso de participar en la misma.
                        Consulta nuestro  <a href="https://www.kimberly-clark.com.mx/legal.htm" target="_blank">Aviso de Privacidad</a> para conocer tus derechos ARCOs.
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>

