@{
    ViewBag.Title = "Predoblados Diapro Gel | Productos para Incontinencia Urinaria";
}

@section metas{
@* Aquí colocar los metas que van en <head> *@
<meta id="ctl00_MetaDesc" name="description" content="Cubierta suave tipo tela respirable." />
<meta id="ctl00_MetaKey" name="keywords"
    content="diapro predoblado, diapro gel predoblado, diapro pañales, pañales para adulto" />
<link rel="canonical" href='@(ViewBag.UrlSite + "/Productos/gel-panales-predoblados")' />
}

@section styles{
@*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@

<style>
    .carousel-indicators [data-bs-target] {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #ffffff;
    }

    .carousel-indicators .active {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #171d6f !important;
    }

    .carousel-indicators {
        bottom: -15px;
    }

    .headerprod {
        background-color: #e6e5e5;
        padding-bottom: 30px;
    }

    @@media (max-width: 480px) {
        #CarouselproductosMobile {
            max-width: 500px;
            max-height: 600px;
            margin-top: -20px;
        }

    }
</style>
}


<br /><br />
<!-- Version Desktop -->
<div class="container-fluid d-none d-sm-none d-lg-block">
    <div class="row headerprod">
        <div class="col-md-5 col-sm-12 center-block text-center">
            <div id="Carouselproductos" class="carousel slide carousel-dark" data-bs-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#Carouselproductos" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#Carouselproductos" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#Carouselproductos" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                       <div class="carousel-item active" data-bs-interval="4000" role="option">
                        <img src="~/img/predobladoG.webp" class="d-block w-100" loading="lazy" title="Predoblado Diapro Gel" alt="Predoblado Diapro Gel">
                    </div>
                       <div class="carousel-item" data-bs-interval="4000" role="option">
                        <img src="~/img/predobladoG2.webp" class="d-block w-100" loading="lazy" title="Pañal Predoblado Diapro" alt="Pañal Predoblado Diapro">
                    </div>
                       <div class="carousel-item" data-bs-interval="4000" role="option">
                        <img src="~/img/predobladoG3.webp" class="d-block w-100" loading="lazy" title="Predoblados Gel Diapro" alt="Predoblados Gel Diapro">
                    </div>
                </div>
            </div><br /><br />
            <div class="buttonCompraAqui center-block text-center" data-bs-toggle="collapse" href="#retailsDesktop" role="button" aria-expanded="false" aria-controls="collapseRetails">
                <span>COMPRA AQUÍ</span>
            </div>
             <div class="retails collapse" id="retailsDesktop">
                <a href="https://www.amazon.com.mx/Diapro-Predoblado-Gel-bolsas-piezas/dp/B00UHOOC2G/" target="_blank" rel="noopener">
                 <img src="~/img/retailAmazon.webp" loading="lazy" title="Predoblado Diapro en Amazon" alt="Predoblado Diapro en Amazon">
                </a>
                <a href="https://www.farmaciasanpablo.com.mx/cuidado-personal-y-belleza/incontinencia/ropa-interior-desechable/diapro-predoblado-gel/p/000000000002620482" target="_blank" rel="noopener"> 
                    <img src="~/img/retailSanPablo.webp" loading="lazy" title="Predoblado Diapro en San Pablo" alt="Predoblado Diapro en San Pablo">
                </a>
                <a href="https://www.farmaciasguadalajara.com/es/farmaciasguadalajara/pa%C3%B1ales-predoblados-diapro-cuidado-extra-unitalla-10-pzas-1147870" target="_blank" rel="noopener"> 
                 <img src="~/img/retailGuadalajara.webp" loading="lazy" title="Predoblado Diapro en Farmacia Guadalajara" alt="Predoblado Diapro en Farmacia Guadalajara">
                </a>
                <a href="https://www.heb.com.mx/diapro-cubrecamas-predoblado-gel-10-pz-338860.html" target="_blank" rel="noopener"> 
                 <img src="~/img/retailHeb.webp" loading="lazy"title="Predoblado Diapro en Heb" alt="Predoblado Diapro en Heb">
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 prodDer">
            <h1>Predoblados<br>
                <span class="Diapro3">Diapro<sup>&reg;</sup> Gel</span>
            </h1>
            <br />
            <div class="row">
                <p>Cubierta suave tipo tela respirable.</p>
                <div class="col-md-6 col-sm-12 prodLista">
                    <ul>
                        <li>Para nivel de incontinencia abundante.</li>
                        <li>Protección de camas, Sillas de ruedas, Sillones, etc.</li>
                        <li>Gelatiniza liquidos y controla olores al instante.</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 prodLista">
                    <ul>
                        <li>Con aloe vera y aroma a manzanilla.</li>
                        <li>Dobles cintas reajustables para utilizar como pañal o fijar a los muebles.</li>
                    </ul>
                </div>
            </div><br /><br />

            <div class="iconosProd center-block text-center">
                <img src="~/img/iconGelanitiza.webp" loading="lazy" title="Gelatiniza líquidos" alt="Gelatiniza líquidos">
                <img src="~/img/iconAromaManzanilla.webp" loading="lazy" title="Aroma Manzanilla" alt="Aroma Manzanilla">
                <img src="~/img/iconTextura-ultrasuave.webp" loading="lazy" title="Textura Ultrasuave" alt="Textura Ultrasuave">
                <img src="~/img/iconTelaRespirable.webp" loading="lazy" title="Tela Respirable" alt="Tela Respirable">
                <img src="~/img/iconCintaReajustable.webp" loading="lazy" title="Cinta Reajustable" alt="Cinta Reajustable">
            </div>
            <div class="row divIncontinencia">
                <div class="col-md-6 center-block text-center">
                    <h2>Absorbencia</h2>
                    <img src="~/img/animVasos.gif" loading="lazy" title="" Nivel de Incontinencia" alt="Nivel de Incontinencia">
                </div>
                <div class="col-md-6 center-block text-center">
                    <h2>Tallas</h2>
                    <div class="unitalla">UNITALLA</div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Version Mobile -->
<div class="container-fluid d-lg-none d-md-none">
    <div class="row headerprod">
        <div class="col-md-6 col-sm-12 center-block text-center">
            <div class="col-md-6 col-sm-12 prodDer">
                <h1>Predoblados<br>
                    <span class="Diapro3">Diapro<sup>&reg;</sup> Gel</span>
                </h1>
            </div>
        </div>
        <div id="CarouselproductosMobile" class="carousel slide center-block text-center" data-bs-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#CarouselproductosMobile" data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#CarouselproductosMobile" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#CarouselproductosMobile" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                       <div class="carousel-item active" data-bs-interval="4000" role="option">
                        <img src="~/img/predobladoG.webp" class="d-block w-100" loading="lazy" title="Predoblado Diapro Gel" alt="Predoblado Diapro Gel">
                    </div>
                       <div class="carousel-item" data-bs-interval="4000" role="option">
                        <img src="~/img/predobladoG2.webp" class="d-block w-100" loading="lazy" title="Pañal Predoblado Diapro" alt="Pañal Predoblado Diapro">
                    </div>
                       <div class="carousel-item" data-bs-interval="4000" role="option">
                        <img src="~/img/predobladoG3.webp" class="d-block w-100" loading="lazy" title="Predoblados Gel Diapro" alt="Predoblados Gel Diapro">
                    </div>
                </div>
            </div>
            <p class="textoDetProd">
                Cubierta suave tipo tela respirable.<br>
            </p>
            <div class="col-md-6 col-sm-12 prodLista">
                <ul>
                    <li><span>Para nivel de incontinencia abundante.</span></li>
                    <li><span>Protección de camas, Sillas de ruedas, Sillones, etc.</span></li>
                    <li><span>Gelatiniza liquidos y controla olores al instante.</span></li>
                    <li><span>Con aloe vera y aroma a manzanilla.</span></li>
                    <li><span>Dobles cintas reajustables para utilizar como pañal o fijar a los muebles.</span></li>
                </ul>
            </div><br /><br />

            <div class="iconosProd center-block text-center">
                <img src="~/img/iconGelanitiza.webp" loading="lazy" title="Gelatiniza líquidos" alt="Gelatiniza líquidos">
                <img src="~/img/iconAromaManzanilla.webp" loading="lazy" title="Aroma Manzanilla" alt="Aroma Manzanilla">
                <img src="~/img/iconTextura-ultrasuave.webp" loading="lazy" title="Textura Ultrasuave" alt="Textura Ultrasuave">
                <img src="~/img/iconTelaRespirable.webp" loading="lazy" title="Tela Respirable" alt="Tela Respirable">
                <img src="~/img/iconCintaReajustable.webp" loading="lazy" title="Cinta Reajustable" alt="Cinta Reajustable">
            </div>
            <div class="divIncontinencia">
                <div class="col-md-6 center-block text-center">
                    <h2>Incontinencia avanzada</h2>
                    <img src="~/img/animVasos.gif" loading="lazy" title="Nivel de Incontinencia avanzada" alt="Nivel de Incontinencia avanzada">
                </div>
                <div class="col-md-6 center-block text-center">
                    <h2>Tallas</h2>
                    <div class="unitalla">UNITALLA</div>
                </div>

            </div><br />
            <div class="buttonCompraAqui center-block text-center" data-bs-toggle="collapse" href="#retailsMobile" role="button" aria-expanded="false" aria-controls="collapseRetails">
                <span>COMPRA AQUÍ</span>
            </div>
             <div class="retails collapse" id="retailsMobile">
                <a href="https://www.amazon.com.mx/Diapro-Predoblado-Gel-bolsas-piezas/dp/B00UHOOC2G/" target="_blank" rel="noopener">
                 <img src="~/img/retailAmazon.webp" loading="lazy" title="Predoblado Diapro en Amazon" alt="Predoblado Diapro en Amazon">
                </a>
                <a href="https://www.farmaciasanpablo.com.mx/cuidado-personal-y-belleza/incontinencia/ropa-interior-desechable/diapro-predoblado-gel/p/000000000002620482" target="_blank" rel="noopener"> 
                 <img src="~/img/retailSanPablo.webp" loading="lazy" title="Predoblado Diapro en San Pablo" alt="Predoblado Diapro en San Pablo">
                </a>
                <a href="https://www.farmaciasguadalajara.com/es/farmaciasguadalajara/pa%C3%B1ales-predoblados-diapro-cuidado-extra-unitalla-10-pzas-1147870" target="_blank" rel="noopener"> 
                 <img src="~/img/retailGuadalajara.webp" loading="lazy" title="Predoblado Diapro en Farmacia Guadalajara" alt="Predoblado Diapro en Farmacia Guadalajara">
                </a>
                <a href="https://www.heb.com.mx/diapro-cubrecamas-predoblado-gel-10-pz-338860.html" target="_blank" rel="noopener"> 
                 <img src="~/img/retailHeb.webp" loading="lazy" title="Predoblado Diapro en Heb" alt="Predoblado Diapro en Heb">
                </a>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row seccProductos center-block text-center">
            <div class="col-md-4 col-sm-12 center-block text-center">
                <div class=" divSeccProductos">
                    <div class="center-block text-center">
                        <p>Pañal Anatómico<br>
                            <span class="diapro1">Para Adulto Diapro<sup>&reg;</sup></span>
                        </p>
                    </div>
                    <div>
                        <img src="~/img/prod-panal-AnatomicoDiapro.webp" class="img-responsive center-block" loading="lazy" title="Pañal Anatómico Diapro" alt="Pañal Anatómico Diapro">
                    </div><br>
                    <div class="butConoceSecc"><a href="/Productos/panal-anatomico-diapro"><span>Conoce más</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 center-block text-center">
                <div class=" divSeccProductos">
                    <div class="center-block text-center">
                        <p>Pants Calzones<br>
                            <span class="diapro2">Diapro<sup>&reg;</sup></span>
                        </p>
                    </div>
                    <div>
                        <img src="~/img/prod-calzones.webp" class="img-responsive center-block" loading="lazy" title="Diapro pants calzones" alt="Diapro pants calzones">
                    </div><br>
                    <div class="butConoceSecc"><a href="/Productos/pants-calzones-diapro"><span>Conoce más</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 center-block text-center">
                <div class=" divSeccProductos">
                    <div class="center-block text-center">
                        <p>Toallas Húmedas<br>
                            <span class="diapro3">Diapro<sup>&reg;</sup></span>
                        </p>
                        <div>
                            <img src="~/img/prod-toallitas.webp" class="img-responsive center-block" loading="lazy"
                                title="Diapro toallas húmedas" alt="Diapro toallas húmedas">
                        </div><br>
                        <div class="butConoceSecc"><a href="/Productos/toallitas-humedas"><span>Conoce más</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br><br>


    @section scripts{
    @*Aquí ingresa las sentencias javascripts que se agregaran al final de la página
        y antes del cierra de la etiqueta </body>*@

     
    }
