@{
    ViewBag.Title = "Diapro Productos para Incontinencia Urinaria";
}

@section metas{
<meta id="ctl00_MetaDesc" name="description"
    content="Diapro Productos para Incontinencia Urinaria para adultos, mujeres y hombres." />
<meta id="ctl00_MetaKey" name="keywords"
    content="Diapro, Productos incontinencia, incontinencia urinaria, pipi, pañales para adulto, pañales predoblados, calzón para incontinecia, Toallas Húmedas, Incontinencia, incontinencia en adultos, escapes de orina, se me sale la pipi" />
<meta name="viewport2" content="width=device-width, user-scalable=yes" />
<link rel="canonical" href='@(ViewBag.UrlSite + "/Productos/Index")' />
}


@section styles{
@*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@

}

<br /><br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 headerProd">
            <h1>Siéntete seguro<br /> en todo momento</h1>
           
        </div>
    </div>
</div>
<br /><br />
<!--Primer producto Desktop-->
<div class="container artProducto d-none d-sm-none d-md-block d-lg-block">
    <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12 center-block text-center">
            <img src="~/img/diapro10panales.webp"  title="Pañal Anatómico para Adulto Diapro"  loading="lazy"  alt="Pañal Anatómico para Adulto Diapro">
            <div class="butConoceSecc"><span><a href="/Productos/panal-anatomico-diapro">CONÓCELO AQUÍ</a></span></div>
        </div>
        <div class="col-md-7 col-sm-12 productosDer">
            <h2>
                Pañal Anatómico <br />
                <span class="Diapro1">para Adulto Diapro<sup>®</sup></span>
            </h2>
            <br />
            <p>Pañal para adulto con protección 100% confiable. Gelatiniza los líquidos. Con Manzanilla que ayudan a
                cuidar la piel.</p>

            <div class="iconosProdGral center-block text-center">
                <img src="~/img/iconGelanitiza.webp"  title="Gelatiniza los líquidos"  loading="lazy"  alt="Gelatiniza los líquidos">
                <img src="~/img/iconAromaManzanilla.webp"  title="Con aroma a manzanilla"  loading="lazy"  alt="Con aroma a manzanilla">
                <img src="~/img/iconMayor-proteccion.webp"  title="Mayor protección trasera"  loading="lazy"  alt="Mayor protección trasera">
                <img src="~/img/iconTelaRespirable.webp"  title="Cubierta tipo tela respirable"  loading="lazy"  alt="Cubierta tipo tela respirable">
                <img src="~/img/iconCintaReajustable.webp"  title="Cintas Reajustables"  loading="lazy"  alt="Cintas Reajustables">
            </div>
        </div>
    </div>
</div>

<br /><br />
<!--Segundo producto Desktop-->
<div class="container artProducto d-none d-sm-none d-md-block d-lg-block">
    <div class="row">
        <div class="col-md-7 col-sm-12 productosDer">
            <h2>
                Pants Calzones<br />
                <span class="Diapro2">Diapro<sup>®</sup></span>
            </h2>
            <br />
            <p> Ropa interior para incontinencia, diseñada para hombres y mujeres activos. Ideal para descargas
                moderadas. </p>
            <div class="iconosProdGral center-block text-center">
                <img src="~/img/iconGelanitiza.webp"  title="Gelatiniza los líquidos"  loading="lazy"  alt="Gelatiniza los líquidos">
                <img src="~/img/iconAromaManzanilla.webp"  title="Aroma a Manzanilla"  loading="lazy"  alt="Aroma a Manzanilla">
                <img src="~/img/iconAntiescurrimiento.webp"  title="Barreras Antiescurrimiento"  loading="lazy"  alt="Barreras Antiescurrimiento">
                <img src="~/img/iconCubierta-ultrasec.webp"  title="Cubierta Ultrasec"  loading="lazy"  alt="Cubierta Ultrasec">
                <img src="~/img/iconTextura-ultrasuave.webp"  title="Textura Ultrasuave"  loading="lazy"  alt="Textura Ultrasuave">
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 center-block text-center">
            <img src="~/img/pantsCalzones.webp"  title="Pants Calzones Diapro"  loading="lazy"  alt="Pants Calzones Diapro">
            <div class="butConoceSecc"><span><a href="/Productos/pants-calzones-diapro">CONÓCELO AQUÍ</a></span></div>
        </div>
    </div>
</div><br />


<!--Tercer producto Desktop-->
<div class="container artProducto d-none d-sm-none d-md-block d-lg-block">
    <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12 center-block text-center">
            <img src="~/img/panalesPredoblados.webp"  title="Predoblados
Diapro®Gel"  loading="lazy"  alt="Predoblados
Diapro®Gel">
            <div class="butConoceSecc"><span><a href="/Productos/gel-panales-predoblados">CONÓCELO AQUÍ</a></span></div>
        </div>
        <div class="col-md-7 col-sm-12 productosDer">
            <h2>Predoblados<br>
                <span class="Diapro3">Diapro<sup>®</sup>Gel</span>
            </h2>
            <br />
            <p>Cubierta suave tipo tela respirable.</p>

            <div class="iconosProdGral center-block text-center">
                <img src="~/img/iconGelanitiza.webp"  title="Gelatiniza los líquidos"  loading="lazy"  alt="Gelatiniza los líquidos">
                <img src="~/img/iconAromaManzanilla.webp"  title="Aroma a Manzanilla"  loading="lazy"  alt="Aroma a Manzanilla">
                <img src="~/img/iconTextura-ultrasuave.webp"  title="Textura Ultrasuave"  loading="lazy"  alt="Textura Ultrasuave">
                <img src="~/img/iconTelaRespirable.webp"  title="Tela Respirable"  loading="lazy"  alt="Tela Respirable">
                <img src="~/img/iconCintaReajustable.webp"  title="Cintas Reajustables"  loading="lazy"  alt="Cintas Reajustables">
            </div>
        </div>
    </div>
</div><br />
<br />
<!--Cuarto producto Desktop-->
<div class="container artProducto d-none d-sm-none d-md-block d-lg-block">
    <div class="row">
        <div class="col-md-7 col-sm-12 productosDer">
            <h2>
                Toallas Húmedas <br />
                <span class="Diapro4">Diapro<sup>®</sup></span>
            </h2>
            <br />
            <p>Toallas Húmedas hipoalergénicas, sin alcohol ni parabenos. Son el complemento perfecto a nuestros productos para el cuidado de pacientes en cama.</p>

            <div class="iconosProdGral center-block text-center">
                <img src="~/img/iconAloeVera.webp"  title="Toallitas con Aloe Vera"  loading="lazy"  alt="Toallitas con Aloe Vera">
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 center-block text-center">
            <img src="~/img/toallitasHumedas.webp"  title="Toallas Húmedas"  loading="lazy"  alt="Toallas Húmedas">
            <div class="butConoceSecc"><span><a href="/Productos/toallitas-humedas">CONÓCELO AQUÍ</a></span></div>
        </div>
    </div>
</div> <br /><br /><br />
<!--Prod 1 Solo visible en mobile-->
<div class="container d-sm-block d-md-none d-lg-none mobileProd">
    <div class="row">
        <div class="col-md-7 col-sm-12 productosDer center-block text-center">
            <h2>
                Pañal Anatómico <br />
                <span class="Diapro1">para Adulto Diapro<sup>®</sup></span>
            </h2>

            <img src="~/img/diapro10panales.webp"  title="Pañales Diapro"  loading="lazy"  alt="Pañales Diapro">
            <div class="prodLista">
                <ul>
                    <li><span>Pañal para adulto con protección 100% confiable. </span></li>
                    <li><span>Gelatiniza los líquidos.</span> </li>
                    <li><span>Manzanilla que ayuda a cuidar la piel.</span></li>
                </ul>
            </div><br />

            <div class="iconosProdGral center-block text-center">
                <img src="~/img/iconGelanitiza.webp"  title="Gelatiniza los líquidos"  loading="lazy"  alt="Gelatiniza los líquidos">
                <img src="~/img/iconAromaManzanilla.webp"  title="Con aroma a manzanilla"  loading="lazy"  alt="Con aroma a manzanilla">
                <img src="~/img/iconMayor-proteccion.webp"  title="Mayor protección trasera"  loading="lazy"  alt="Mayor protección trasera">
                <img src="~/img/iconTelaRespirable.webp"  title="Cubierta tipo tela respirable"  loading="lazy"  alt="Cubierta tipo tela respirable">
                <img src="~/img/iconCintaReajustable.webp"  title="Cintas Reajustables"  loading="lazy"  alt="Cintas Reajustables">
            </div>
        </div><br />
        <div class="col-md-5 col-sm-12 col-xs-12 center-block text-center">
            <div class="butConoceSecc"><span><a href="/Productos/panal-anatomico-diapro">CONÓCELO AQUÍ</a></span></div>
        </div>

    </div>
    <hr><br /><br /><br /><br /><br /><br /><br />
</div>
<!--Prod 2 Solo visible en mobile-->
<div class="container artProducto d-sm-block d-md-none d-lg-none">
    <div class="row">
        <div class="col-md-7 col-sm-12 productosDer center-block text-center">
            <h2>
                Pants Calzones<br />
                <span class="Diapro2">Diapro<sup>®</sup></span>
            </h2>
            <img src="~/img/pantsCalzones.webp" class="calzon"  title="texto"  loading="lazy"  alt="Pants Calzon Incontinencia">
            <div class="prodLista">
                <ul>
                    <li><span>Ropa interior para incontinencia, diseñada para hombres y mujeres activos.</span></li>
                    <li><span>Ideal para descargas moderadas.</span></li>
                </ul>
            </div><br />
            <div class="iconosProdGral center-block text-center">
                <img src="~/img/iconGelanitiza.webp"  title="Gelatiniza los líquidos"  loading="lazy"  alt="Gelatiniza los líquidos">
                <img src="~/img/iconAromaManzanilla.webp"  title="Aroma a Manzanilla"  loading="lazy"  alt="Aroma a Manzanilla">
                <img src="~/img/iconAntiescurrimiento.webp"  title="Barreras Antiescurrimiento"  loading="lazy"  alt="Barreras Antiescurrimiento">
                <img src="~/img/iconCubierta-ultrasec.webp"  title="Cubierta Ultrasec"  loading="lazy"  alt="Cubierta Ultrasec">
                <img src="~/img/iconTextura-ultrasuave.webp"  title="Textura Ultrasuave"  loading="lazy"  alt="Textura Ultrasuave">
            </div>
        </div><br />
        <div class="col-md-5 col-sm-12 col-xs-12 center-block text-center">
            <div class="butConoceSecc"><span><a href="/Productos/pants-calzones-diapro">CONÓCELO AQUÍ</a></span></div>
        </div>
    </div>
    <hr><br /><br /><br /><br /><br /><br /><br />
</div>
<!--Prod 3 Solo visible en mobile-->
<div class="container artProducto d-sm-block d-md-none d-lg-none">
    <div class="row">
        <div class="col-md-7 col-sm-12 productosDer center-block text-center">
            <h2>Predoblados<br>
                <span class="Diapro3">Diapro<sup>®</sup>Gel</span>
            </h2>
            <img src="~/img/panalesPredoblados.webp"  title="texto"  loading="lazy"  alt="Predoblados Diapro®Gel">
            <div class="prodLista">
                <ul>
                    <li><span>Cubierta suave tipo tela respirable.</span></li>
                </ul>
            </div>
            <br />
            <div class="iconosProdGral center-block text-center">
                 <img src="~/img/iconGelanitiza.webp"  title="Gelatiniza los líquidos"  loading="lazy"  alt="Gelatiniza los líquidos">
                <img src="~/img/iconAromaManzanilla.webp"  title="Aroma a Manzanilla"  loading="lazy"  alt="Aroma a Manzanilla">
                <img src="~/img/iconTextura-ultrasuave.webp"  title="Textura Ultrasuave"  loading="lazy"  alt="Textura Ultrasuave">
                <img src="~/img/iconTelaRespirable.webp"  title="Tela Respirable"  loading="lazy"  alt="Tela Respirable">
                <img src="~/img/iconCintaReajustable.webp"  title="Cintas Reajustables"  loading="lazy"  alt="Cintas Reajustables">
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 center-block text-center">
            <div class="butConoceSecc"><span><a href="/Productos/gel-panales-predoblados">CONÓCELO AQUÍ</a></span></div>
        </div>

    </div>
    <hr><br /><br /><br /><br /><br /><br /><br />
</div>
<!--Prod 4 Solo visible en mobile-->
<div class="container artProducto d-sm-block d-md-none d-lg-none">
    <div class="row">
        <div class="col-md-7 col-sm-12 productosDer center-block text-center">
            <h2>
                Toallas Húmedas <br />
                <span class="Diapro4">Diapro<sup>®</sup></span>
            </h2>
            <img src="~/img/toallitasHumedas.webp"  title="Toallas Húmedas"  loading="lazy"  alt="Toallas Húmedas">
            <br />
            <div class="prodLista">
                <ul>
                    <li><span>Toallas Húmedas hipoalergénicas, sin alcohol ni parabenos.</span> </li>
                    <li><span>Son el complemento perfecto  a nuestros productos para el cuidado de pacientes en cama.</span></li>
                </ul>
            </div>

            <div class="iconosProdGral center-block text-center">
                <img src="~/img/iconAloeVera.webp"  title="Toallas con Aloe Vera"  loading="lazy"  alt="Toallas con Aloe Vera">
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 center-block text-center">
            <div class="butConoceSecc"><span><a href="/Productos/toallitas-humedas">CONÓCELO AQUÍ</a></span></div>
        </div>
    </div>
    <br /><br /><br />
</div>

@section scripts{
@*Aquí ingresa las sentencias javascripts que se agregaran al final de la página
    y antes del cierra de la etiqueta </body>*@


}