@{
    ViewBag.Title = "Pañal Anatómico para Adulto Diapro, para incontinencia urinaria";
}

@section metas{
@* Aquí colocar los metas que van en <head> *@
<meta id="ctl00_MetaDesc" name="description"
    content="Absorbe más y más rápido. Gelatiniza los líquidos. Con Aloe y Manzanilla que ayudan a cuidar la piel. Cuidado extra al mejor precio." />
<meta id="ctl00_MetaKey" name="keywords"
    content="Pañal Anatómico para Adulto, Productos incontinencia, incontinencia urinaria, pipi, pañales para adulto, Incontinencia, incontinencia en adultos, escapes de orina, se me sale la pipi" />
<link rel="canonical" href='@(ViewBag.UrlSite + "/Productos/panal-anatomico-diapro")' />
}

@section styles{
@*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@

<style>
  

    .carousel-indicators [data-bs-target] {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #ffffff;
    }

    .carousel-indicators .active {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #171d6f !important;
    }

    .carousel-indicators {
        bottom: -15px;
    }

    .headerprod {
        background-color: #e6e5e5;
        padding-bottom: 30px;
    }

    @@media (max-width: 480px) {
        #CarouselproductosMobile {
            max-width: 500px;
            max-height: 600px;
            margin-top: -40px;
        }

    }
</style>
}

<br /><br />

<!-- Version Desktop -->
<div class="container-fluid d-none d-sm-none d-md-block d-lg-block">
    <div class="row headerprod">
        <div class="col-md-6 col-sm-12 center-block text-center">
            <div id="Carouselproductos" class="carousel slide center-block text-center" data-bs-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#Carouselproductos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#Carouselproductos" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#Carouselproductos" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                       <div class="carousel-item active" data-bs-interval="4000" role="option">
                        <img src="~/img/confortG.webp" class="d-block w-100" loading="lazy" title="Pañal Confort Diapro" alt="Pañal Confort Diapro">
                    </div>
                       <div class="carousel-item" data-bs-interval="4000" role="option">
                        <img src="~/img/confortG2.webp" class="d-block w-100" loading="lazy" title="Pañal Pañal Anatómico Diapro" alt="Pañal Pañal Anatómico Diapro">
                    </div>
                       <div class="carousel-item" data-bs-interval="4000" role="option">
                        <img src="~/img/confortG3.webp" class="d-block w-100" loading="lazy" title="Pañal Anatómico para adulto Diapro" alt="Pañal Anatómico para adulto Diapro">
                    </div>
                </div>
            </div><br /><br />
            <div class="buttonCompraAqui center-block text-center" data-bs-toggle="collapse" href="#retailsDesktop" role="button" aria-expanded="false" aria-controls="collapseRetails">
                <span>COMPRA AQUÍ</span>
            </div>
             <div class="retails collapse" id="retailsDesktop">
                <a href="https://super.walmart.com.mx/incontinencia/protector-para-incontinencia-avanzada-diapro-grande-con-manzanilla-10-pzas/00750194347501" target="_blank" rel="noopener"> 
                 <img src="~/img/retailWalmart.webp" loading="lazy" title="Pañal Anatómico Diapro en Walmart" alt="Pañal Anatómico Diapro en Walmart">
                </a>
                <a href="https://www.chedraui.com.mx/Departamentos/Farmacia/Incontinencia/Pa%C3%B1ales-para-Adultos/Pa%C3%B1ales-para-Incontinencia-Diapro-Anat%C3%B3micos-Talla-Grande-10-Pa%C3%B1ales/p/000000000003004956?siteName=Sitio+de+Chedraui" target="_blank" rel="noopener"> 
                 <img src="~/img/retailChedraui.webp" loading="lazy" title="Pañal Anatómico Diapro en Chedraui" alt="Pañal Anatómico Diapro en Chedraui">
                </a>
                <a href="https://www.amazon.com.mx/Diapro-Pa%C3%B1al-Confort-para-Adulto/dp/B00UHOOBKY/" target="_blank" rel="noopener">
                 <img src="~/img/retailAmazon.webp" loading="lazy" title="Pañal Anatómico Diapro en Amazon" alt="Pañal Anatómico Diapro en Amazon">
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 prodDer">
            <h1>
                Pañal Anatómico <br />
                <strong>para Adulto Diapro</strong>
            </h1>
            <br />
            <p>Pañal para adulto con protección 100% confiable.</p>
            <div class="row">
                <div class="col-md-6 col-sm-12 prodLista">
                    <ul>
                        <li>Para nivel de incontinencia abundante.</li>
                        <li>Cobertura extra en la parte delantera y trasera.</li>
                        <li>Dobles cintas reajustables.</li>
                        <li>Gelatiniza líquidos y controla olores al instante.</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 prodLista">
                    <ul>
                        <li>Aroma a manzanilla.</li>
                        <li>Corte anatómico para mejor ajuste.</li>
                        <li>Indicador de humedad, desaparece cuando está mojado.</li>
                    </ul>
                </div>
            </div><br /><br />

            <div class="iconosProd center-block text-center">
                <img src="~/img/iconGelanitiza.webp" loading="lazy" title="Gelatiniza Líquidos" alt="Gelatiniza Líquidos">
                <img src="~/img/iconAromaManzanilla.webp" loading="lazy" title="Aroma a Manzanilla" alt="Aroma a Manzanilla">
                <img src="~/img/iconMayor-proteccion.webp" loading="lazy" title="Mayor protección" alt="Mayor protección">
                <img src="~/img/iconTelaRespirable.webp" loading="lazy" title="Tela Tipo Respirable" alt="Tela Tipo Respirable">
                <img src="~/img/iconCintaReajustable.webp" loading="lazy" title="Cinta Reajustable" alt="Cinta Reajustable">
            </div>
            <div class="divIncontinencia">
                <div class="row">
                    <div class="col-md-6 center-block text-center">
                        <h2>Incontinencia avanzada</h2>
                        <img src="~/img/animVasos.gif" loading="lazy" title="Incontinencia avanzada" alt="Incontinencia avanzada"><br />
                        <img src="~/img/animVasos.gif" loading="lazy" title="Incontinencia alta" alt="Incontinencia alta">
                    </div>
                    <div class="col-md-6 center-block text-center">
                        <h2>Tallas</h2>
                        <div class="mediano">Mediano 28 a 40</div>
                        <div class="grande">Grande 38 a 50</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Version Mobile -->
<div class="container-fluid d-lg-none d-md-none">
    <div class="row headerprod">
        <div class="col-md-6 col-sm-12 center-block text-center">
            <div class="col-md-6 col-sm-12 prodDer">
                <h1>
                    Pañal Anatómico <br />
                    <strong>para Adulto Diapro</strong>
                </h1>
            </div>
        </div>
        <div id="CarouselproductosMobile" class="carousel slide center-block text-center" data-bs-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#CarouselproductosMobile" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#CarouselproductosMobile" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#CarouselproductosMobile" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                   <div class="carousel-item active" data-bs-interval="4000" role="option">
                    <img src="~/img/confortG.webp" class="d-block w-100" loading="lazy" title="Pañal Confort Diapro" alt="Pañal Confort Diapro">
                </div>
                   <div class="carousel-item" data-bs-interval="4000" role="option">
                    <img src="~/img/confortG2.webp" class="d-block w-100" loading="lazy" title="Pañal Pañal Anatómico Diapro" alt="Pañal Pañal Anatómico Diapro">
                </div>
                   <div class="carousel-item" data-bs-interval="4000" role="option">
                    <img src="~/img/confortG3.webp" class="d-block w-100" loading="lazy" title="Pañal Anatómico para adulto Diapro" alt="Pañal Anatómico para adulto Diapro">
                </div>
            </div>
        </div><br />
        <p class="textoDetProd">Pañal para adulto con protección 100% confiable.</p>
        <div class="col-md-6 col-sm-12 prodLista">
            <ul>
                <li><span>Para nivel de incontinencia abundante.</span></li>
                <li><span>Cobertura extra en la parte delantera y trasera.</span></li>
                <li><span>Dobles cintas reajustables.</span></li>
                <li><span>Gelatiniza líquidos y controla olores al instante.</span></li>
                <li><span>Aroma a manzanilla.</span></li>
                <li><span>Corte anatómico para mejor ajuste.</span></li>
                <li><span>Indicador de humedad, desaparece cuando está mojado.</span></li>
            </ul>
        </div><br /><br />

        <div class="iconosProd center-block text-center">
            <img src="~/img/iconGelanitiza.webp" loading="lazy" title="Gelatiniza Líquidos" alt="Gelatiniza Líquidos">
            <img src="~/img/iconAromaManzanilla.webp" loading="lazy" title="Aroma a Manzanilla" alt="Aroma a Manzanilla">
            <img src="~/img/iconMayor-proteccion.webp" loading="lazy" title="Mayor protección" alt="Mayor protección">
            <img src="~/img/iconTelaRespirable.webp" loading="lazy" title="Tela Tipo Respirable" alt="Tela Tipo Respirable">
            <img src="~/img/iconCintaReajustable.webp" loading="lazy" title="Cinta Reajustable" alt="Cinta Reajustable">
        </div>
        <div class="divIncontinencia">
            <div class="col-md-6 center-block text-center">
                <h2>Incontinencia avanzada</h2>
                <img src="~/img/animVasos.gif" loading="lazy" title="Incontinencia avanzada" alt="Incontinencia avanzada"><br />
                <img src="~/img/animVasos.gif" loading="lazy" title="Incontinencia alta" alt="Incontinencia alta">
            </div>
            <div class="col-md-6">
                <h2>Tallas</h2>
                <div class="mediano">Mediano 28 a 40</div>
                <div class="grande">Grande 38 a 50</div>
            </div><br />
            <div class="buttonCompraAqui center-block text-center" data-bs-toggle="collapse" href="#retailsMobile" role="button" aria-expanded="false" aria-controls="collapseRetails">
                <span>COMPRA AQUÍ</span>
            </div>
             <div class="retails collapse" id="retailsMobile">
                <a href="https://super.walmart.com.mx/incontinencia/protector-para-incontinencia-avanzada-diapro-grande-con-manzanilla-10-pzas/00750194347501" target="_blank" rel="noopener"> 
                 <img src="~/img/retailWalmart.webp" loading="lazy" title="Pañal Anatómico Diapro en Walmart" alt="Pañal Anatómico Diapro en Walmart">
                </a>
                <a href="https://www.chedraui.com.mx/Departamentos/Farmacia/Incontinencia/Pa%C3%B1ales-para-Adultos/Pa%C3%B1ales-para-Incontinencia-Diapro-Anat%C3%B3micos-Talla-Grande-10-Pa%C3%B1ales/p/000000000003004956?siteName=Sitio+de+Chedraui" target="_blank" rel="noopener"> 
                 <img src="~/img/retailChedraui.webp" loading="lazy" title="Pañal Anatómico Diapro en Chedraui" alt="Pañal Anatómico Diapro en Chedraui">
                </a>
                <a href="https://www.amazon.com.mx/Diapro-Pa%C3%B1al-Confort-para-Adulto/dp/B00UHOOBKY/" target="_blank" rel="noopener">
                 <img src="~/img/retailAmazon.webp" loading="lazy" title="Pañal Anatómico Diapro en Amazon" alt="Pañal Anatómico Diapro en Amazon">
                </a>

            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row seccProductos center-block text-center">
        <div class="col-md-4 col-sm-12 center-block text-center">
            <div class=" divSeccProductos">
                <div class="center-block text-center">
                     <p>Predoblados<br>
              <span class="diapro4">Diapro<sup>&reg;</sup> Gel</span>
          </p>
                </div>
                <div>
                    <img src="~/img/prod-panalesPredoblados.webp" class="img-responsive center-block" loading="lazy" title="Predoblados Diapro Gel" alt="Predoblados Diapro Gel">
                </div><br>
                <div class="butConoceSecc"><a href="/Productos/gel-panales-predoblados"><span>Conoce más</span></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 center-block text-center">
            <div class=" divSeccProductos">
                <div class="center-block text-center">
                    <p>Pants Calzones<br>
                        <span class="diapro2">Diapro<sup>&reg;</sup></span>
                    </p>
                </div>
                <div>
                    <img src="~/img/prod-calzones.webp" class="img-responsive center-block" loading="lazy" title="Diapro Pants calzones" alt="Diapro Pants calzones">
                </div><br>
                <div class="butConoceSecc"><a href="/Productos/pants-calzones-diapro"><span>Conoce más</span></a></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 center-block text-center">
            <div class=" divSeccProductos">
                <div class="center-block text-center">
                    <p>Toallas Húmedas<br>
                        <span class="diapro3">Diapro<sup>&reg;</sup></span>
                    </p>
                    <div>
                        <img src="~/img/prod-toallitas.webp" class="img-responsive center-block" loading="lazy" title="Diapro toallas humedas" alt="Diapro toallas humedas">
                    </div><br>
                    <div class="butConoceSecc"><a href="/Productos/toallitas-humedas"><span>Conoce más</span></a></div>
                </div>

            </div>
        </div>

    </div>
</div>
<br><br>




@section scripts{
@*Aquí ingresa las sentencias javascripts que se agregaran al final de la página
    y antes del cierra de la etiqueta </body>*@

  
}
