@{
    ViewBag.Title = "Pants Calzones Diapro | Productos para Incontinencia Urinaria";
}

@section metas{
    @* Aquí colocar los metas que van en <head> *@
    <meta id="ctl00_MetaDesc" name="description" content="Absorbe más y más rápido.Nuevo corte más discreto. Cuida tu piel gracias al aloe vera. Con aroma a manzanilla." />
    <meta id="ctl00_MetaKey" name="keywords" content="Calzones Diapro, Diapro, Productos incontinencia, incontinencia urinaria, pipi, pañales para adulto, pañales predoblados, calzón para incontinecia, Toallas Húmedas, Incontinencia, incontinencia en adultos, escapes de orina, se me sale la pipi" />
    <link rel="canonical" href='@(ViewBag.UrlSite + "/Productos/pants-calzones-diapro")' />
}

@section styles{
    @*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@

    <style>
        #CarouselproductosMobile {
            max-width: 500px;
            max-height: 600px;
        }

        .carousel-indicators [data-bs-target] {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #ffffff;
        }

        .carousel-indicators .active {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #171d6f !important;
        }

        .carousel-indicators {
            bottom: -15px;
        }

        .headerprod {
            background-color: #e6e5e5;
            padding-bottom: 30px;
        }

        @@media (max-width: 480px) {
            #CarouselproductosMobile {
                max-width: 500px;
                max-height: 600px;
                margin-top: -20px;
            }
        }
    </style>
}

<br /><br />
<!-- Version Desktop -->
<div class="container-fluid d-none d-sm-none d-md-block d-lg-block">
    <div class="row headerprod">
        <div class="col-md-6 col-sm-12 center-block text-center">
            <div id="Carouselproductos" class="carousel slide center-block text-center" data-bs-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#Carouselproductos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#Carouselproductos" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#Carouselproductos" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" data-bs-interval="4000" role="option">
                        <img src="~/img/pantsG.webp" class="d-block w-100" loading="lazy" title="Pants Calzon Diapro" alt="Pants Calzon Diapro">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000" role="option">
                        <img src="~/img/pantsG2.webp" class="d-block w-100" loading="lazy" title="Pants Calzon Diapro" alt="Pants Calzon Diapro">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000" role="option">
                        <img src="~/img/pantsG3.webp" class="d-block w-100" loading="lazy" title="Pañal Calzón Diapro" alt="Pañal Calzón Diapro">
                    </div>
                </div>

            </div><br/><br/>
            <div class="buttonCompraAqui center-block text-center" data-bs-toggle="collapse" href="#retailsDesktop" role="button" aria-expanded="false" aria-controls="collapseRetails">
                <span>COMPRA AQUÍ</span>
            </div>
            <div class="retails collapse" id="retailsDesktop">
                <a href="https://super.walmart.com.mx/incontinencia/ropa-interior-para-incontinencia-moderada-diapro-pants-mediano-unisex-10-pzas/00750194346654" target="_blank" rel="noopener">
                    <img src="~/img/retailWalmart.webp" loading="lazy" title="Diapro en Walmart" alt="Diapro en Walmart">
                </a>
                <a href="https://www.chedraui.com.mx/Departamentos/Farmacia/Incontinencia/Pa%C3%B1ales-para-Adultos/Ropa-Interior-Desechable-Diapro-Grande-Calzones-para-Incontinencia-10-piezas/p/000000000003228684?siteName=Sitio+de+Chedraui" target="_blank" rel="noopener">
                    <img src="~/img/retailChedraui.webp" loading="lazy" title="Diapro en Chedraui" alt="Diapro en Chedraui">
                </a>
                <a href="https://www.amazon.com.mx/Diapro-Calzones-Desechables-Mediano-Manzanilla/dp/B07Q2731TW/" target="_blank" rel="noopener">
                    <img src="~/img/retailAmazon.webp" loading="lazy" title="Diapro en Amazon" alt="Diapro en Amazon">
                </a>
                <a href="https://www.farmaciasanpablo.com.mx/cuidado-personal-y-belleza/incontinencia/ropa-interior-desechable/diapro-pants-talla-mediana-ropa-interior-desechable/p/000000000002620505" target="_blank" rel="noopener">
                    <img src="~/img/retailSanPablo.webp" loading="lazy" title="Diapro en San Pablo" alt="Diapro en San Pablo">
                </a>
                <a href="https://www.fahorro.com/ropa-interior-diapro-grande-unisex-10-piezas.html" target="_blank" rel="noopener">
                    <img src="~/img/retailFarmAhorro.webp" loading="lazy" title="Diapro en Farmacias del Ahorro" alt="Diapro en Farmacias del Ahorro">
                </a>
            </div>

        </div>
        <div class="col-md-6 col-sm-12 prodDer">
            <h1>
                Pants Calzones <br />
                <span class="Diapro2">Diapro<sup>&reg;</sup></span>
            </h1>
            <br />
            <div class="row">
                <p> Ropa interior para incontinencia, diseñada para hombres y mujeres activos.</p>
                <div class="col-md-6 col-sm-12 prodLista">
                    <ul>
                        <li>Para nivel de incontinencia moderada.</li>
                        <li>Diseñado para hombres y mujeres.</li>
                        <li>Gelatiniza líquidos y controla olores al instante.</li>
                        <li>Cómodo ajuste discreto y anatómico.</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 prodLista">
                    <ul>
                        <li>Doble barrera anti escurrimiento para evitar fugas.</li>
                        <li>Se desecha fácilmente al rasgar los laterales.</li>
                        <li>Aroma a Manzanilla.</li>
                    </ul>
                </div>
            </div><br /><br />

            <div class="iconosProd center-block text-center">
                <img src="~/img/iconGelanitiza.webp" loading="lazy" title="Gelatiniza Líquidos" alt="Gelatiniza Líquidos">
                <img src="~/img/iconAromaManzanilla.webp" loading="lazy" title="Aroma a Manzanilla" alt="Aroma a Manzanilla">
                <img src="~/img/iconAntiescurrimiento.webp" loading="lazy" title="Barreras Antiescurrimiento" alt="Barreras Antiescurrimiento">
                <img src="~/img/iconCubierta-ultrasec.webp" loading="lazy" title="Cubierta Ultrasec" alt="Cubierta Ultrasec">
                <img src="~/img/iconTextura-ultrasuave.webp" loading="lazy" title="Textura Ultrasuave" alt="Textura Ultrasuave">
            </div>
            <div class="divIncontinencia center-block text-center">
                    <div class="row">
                        <div class="col-md-5">
                            <h2>Absorbencia</h2>
                            <img src="~/img/anim4Vasos.gif" loading="lazy" title="Incontinencia avanzada" alt="Incontinencia avanzada"><br />
                            <img src="~/img/anim4Vasos.gif" loading="lazy" title="Incontinencia alta" alt="Incontinencia alta">
                        </div>
                        <div class="col-md-7">
                            <h2>Tallas</h2>
                            <div class="mediano">Mediano 28 a 40</div>
                            <div class="grande">Grande 38 a 50</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Version Mobile -->
<div class="container-fluid d-lg-none d-md-none">
    <div class="row headerprod">
        <div class="col-md-6 col-sm-12 center-block text-center">
            <div class="col-md-6 col-sm-12 prodDer">
                <h1>
                    Pants Calzones <br />
                    <span class="Diapro2">Diapro<sup>&reg;</sup></span>
                </h1>

            </div>
        </div>
        <div id="CarouselproductosMobile" class="carousel slide center-block" data-bs-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#CarouselproductosMobile" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#CarouselproductosMobile" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#CarouselproductosMobile" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" data-bs-interval="4000" role="option">
                    <img src="~/img/pantsG.webp" class="d-block w-100" loading="lazy" title="Pañal Calzón Diapro" alt="Pañal Calzón Diapro">
                </div>
                <div class="carousel-item" data-bs-interval="4000" role="option">
                    <img src="~/img/pantsG2.webp" class="d-block w-100" loading="lazy" title="Pants Calzón Diapro" alt="Pants Calzón Diapro">
                </div>
                <div class="carousel-item" data-bs-interval="4000" role="option">
                    <img src="~/img/pantsG3.webp" class="d-block w-100" loading="lazy" title="Pants Calzon" alt="Pañal Calzón Diapro">
                </div>
            </div>


        </div><br />
        <p class="textoDetProd"> Ropa interior para incontinencia, diseñada para hombres y mujeres activos. </p>
        <div class="col-md-6 col-sm-12 prodLista">
            <ul>
                <li><span>Para nivel de incontinencia moderada.</span></li>
                <li><span>Diseñado para hombres y mujeres.</span></li>
                <li><span>Gelatiniza líquidos y controla olores al instante.</span></li>
                <li><span>Cómodo ajuste discreto y anatómico.</span></li>
                <li><span>Doble barrera anti escurrimiento para evitar fugas.</span></li>
                <li><span>Se desecha fácilmente al rasgar los laterales.</span></li>
                <li><span>Aroma a Manzanilla.</span></li>
            </ul>


        </div><br /><br />

        <div class="iconosProd center-block text-center">
            <img src="~/img/iconGelanitiza.webp" loading="lazy" title="Gelatiniza Líquidos" alt="Gelatiniza Líquidos">
            <img src="~/img/iconAromaManzanilla.webp" loading="lazy" title="Aroma a Manzanilla" alt="Aroma a Manzanilla">
            <img src="~/img/iconAntiescurrimiento.webp" loading="lazy" title="Barreras Antiescurrimiento" alt="Barreras Antiescurrimiento">
            <img src="~/img/iconCubierta-ultrasec.webp" loading="lazy" title="Cubierta Ultrasec" alt="Cubierta Ultrasec">
            <img src="~/img/iconTextura-ultrasuave.webp" loading="lazy" title="Textura Ultrasuave" alt="Textura Ultrasuave">
        </div>
        <div class="divIncontinencia center-block text-center">
            <div class="col-md-6 center-block text-center">
                <h2>Absorbencia</h2>
                <img src="~/img/anim4Vasos.gif" loading="lazy" title="Incontinencia avanzada" alt="Incontinencia avanzada"><br />
                <img src="~/img/anim4Vasos.gif" loading="lazy" title="Incontinencia alta" alt="Incontinencia alta">
            </div>
            <div class="col-md-6">
                <h2>Tallas</h2>
                <div class="mediano">Mediano 28 a 40</div>
                <div class="grande">Grande 38 a 50</div>
            </div>
            <br />
            <div class="buttonCompraAqui center-block text-center" data-bs-toggle="collapse" href="#retailsMovil" role="button" aria-expanded="false" aria-controls="collapseRetails">
                <span>COMPRA AQUÍ</span>
            </div>
            <div class="retails collapse" id="retailsMovil">
                <a href="https://super.walmart.com.mx/incontinencia/ropa-interior-para-incontinencia-moderada-diapro-pants-mediano-unisex-10-pzas/00750194346654" target="_blank" rel="noopener">
                    <img src="~/img/retailWalmart.webp" loading="lazy" title="Diapro en Walmart" alt="Diapro en Walmart">
                </a>
                <a href="https://www.chedraui.com.mx/Departamentos/Farmacia/Incontinencia/Pa%C3%B1ales-para-Adultos/Ropa-Interior-Desechable-Diapro-Grande-Calzones-para-Incontinencia-10-piezas/p/000000000003228684?siteName=Sitio+de+Chedraui" target="_blank" rel="noopener">
                    <img src="~/img/retailChedraui.webp" loading="lazy" title="Diapro en Chedraui" alt="Diapro en Chedraui">
                </a>
                <a href="https://www.amazon.com.mx/Diapro-Calzones-Desechables-Mediano-Manzanilla/dp/B07Q2731TW/" target="_blank" rel="noopener">
                    <img src="~/img/retailAmazon.webp" loading="lazy" title="Diapro en Amazon" alt="Diapro en Amazon">
                </a>
                <a href="https://www.farmaciasanpablo.com.mx/cuidado-personal-y-belleza/incontinencia/ropa-interior-desechable/diapro-pants-talla-mediana-ropa-interior-desechable/p/000000000002620505" target="_blank" rel="noopener">
                    <img src="~/img/retailSanPablo.webp" loading="lazy" title="Diapro en San Pablo" alt="Diapro en San Pablo">
                </a>
                <a href="https://www.fahorro.com/ropa-interior-diapro-grande-unisex-10-piezas.html" target="_blank" rel="noopener">
                    <img src="~/img/retailFarmAhorro.webp" loading="lazy" title="Diapro en Farmacias del Ahorro" alt="Diapro en Farmacias del Ahorro">
                </a>
            </div>

        </div>

    </div>
</div>
<div class="container text-center">
    <div class="row seccProductos center-block text-center">
        <div class="col-md-4 col-sm-12 center-block text-center">
            <div class=" divSeccProductos">
                <div class="center-block text-center">
                    <p>
                        Pañal Anatómico<br>
                        <span class="diapro1">Para Adulto Diapro<sup>&reg;</sup></span>
                    </p>
                </div>
                <div>
                    <img src="~/img/prod-panal-AnatomicoDiapro.webp" class="img-responsive center-block" loading="lazy" title="Pañal Anatómico Diapro" alt="Pañal Anatómico Diapro">
                </div><br>
                <div class="butConoceSecc">
                    <a href="/Productos/panal-anatomico-diapro">
                        <span>
                            Conoce
                            más
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 center-block text-center">
            <div class=" divSeccProductos">
                <div class="center-block text-center">
                    <p>
                        Predoblados<br>
                        <span class="diapro4">Diapro Gel<sup>&reg;</sup></span>
                    </p>
                </div>
                <div>
                    <img src="~/img/prod-panalesPredoblados.webp" class="img-responsive center-block" loading="lazy" title="Diapro pañales predoblados" alt="Diapro pañales predoblados">
                </div><br>
                <div class="butConoceSecc">
                    <a href="/Productos/gel-panales-predoblados">
                        <span>
                            Conoce
                            más
                        </span>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-12 center-block text-center">
            <div class=" divSeccProductos">
                <div class="center-block text-center">
                    <p>
                        Toallas Húmedas<br>
                        <span class="diapro3">Diapro<sup>&reg;</sup></span>
                    </p>
                    <div>
                        <img src="~/img/prod-toallitas.webp" class="img-responsive center-block" loading="lazy" title="Diapro toallitas humedas" alt="Diapro toallitas humedas">
                    </div><br>
                    <div class="butConoceSecc">
                        <a href="/Productos/toallitas-humedas">
                            <span>
                                Conoce
                                más
                            </span>
                        </a>
                    </div>
                </div>
                <br />

            </div>
        </div>

    </div>
</div>
<br><br>

@section scripts{
    @*Aquí ingresa las sentencias javascripts que se agregaran al final de la página
        y antes del cierra de la etiqueta </body>*@


}
