@{
    ViewBag.Title = "Toallas Húmedas Diapro | Productos para Incontinencia Urinaria";
}

@section metas{
    <meta id="ctl00_MetaDesc" name="description" content="Extra grandes y resistentes. Cuida tu piel gracias al aloe vera y vitamina E." />
    <meta id="ctl00_MetaKey" name="keywords" content="Diapro, Productos incontinencia, incontinencia urinaria, pipi, pañales para adulto, pañales predoblados, calzón para incontinecia, Toallas Húmedas, Incontinencia, incontinencia en adultos, escapes de orina, se me sale la pipi" />
    <link rel="canonical" href='@(ViewBag.UrlSite + "/Productos/toallitas-humedas")' />
}

@section styles{
    @*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@

    <style>
        .carousel-item {
            height: 350px;
        }

        .carousel-indicators [data-bs-target] {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #ffffff;
        }

        .carousel-indicators .active {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #171d6f !important;
        }

        .carousel-indicators {
            bottom: -39px;
        }

        .headerprod {
            background-color: #e6e5e5;
            padding-bottom: 30px;
        }

        @@media (max-width: 480px) {
            #CarouselproductosMobile .carousel-inner {
                height: 230px;
            }

            #CarouselproductosMobile {
                max-width: 500px;
                max-height: 600px;
                margin-top: -40px;
            }
        }
    </style>
}

<br /><br />
<!-- Version Desktop -->
<div class="container-fluid d-none d-sm-none d-md-block d-lg-block">
    <div class="row headerprod">
        <div class="col-md-6 col-sm-12 center-block text-center">
            <div id="Carouselproductos" class="carousel slide center-block text-center" data-bs-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <ol>
                        <li data-target="#Carouselproductos" data-slide-to="0" class="active"></li>
                        <li data-target="#Carouselproductos" data-slide-to="1"></li>
                        <li data-target="#Carouselproductos" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active" data-bs-interval="4000" role="option">
                            <img src="~/img/toallitasHumedasG1.webp" class="img-responsive" loading="lazy" title="Toallas Húmedas Diapro" alt="Toallas Húmedas Diapro">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000" role="option">
                            <img src="~/img/toallitasHumedasG2.webp" class="img-responsive" loading="lazy" title="Toallitas para higiene" alt="Toallas Húmedas Diapro">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000" role="option">
                            <img src="~/img/toallitasHumedasG3.webp" class="img-responsive" loading="lazy" title="Toallas Húmedas Diapro" alt="Toallas Húmedas Diapro">
                        </div>
                    </div>
                </div><br /><br />
                <div class="buttonCompraAqui center-block text-center" data-bs-toggle="collapse" href="#retailsDesktop" role="button" aria-expanded="false" aria-controls="collapseRetails">
                    <span>COMPRA AQUÍ</span>
                </div>
                <div class="retails collapse" id="retailsDesktop">
                    <a href="https://www.farmaciasanpablo.com.mx/cuidado-personal-y-belleza/incontinencia/toallas-para-incontinencia/diapro-toallitas-humedas-para-incontinencia/p/000000000002620484" target="_blank" rel="noopener">
                        <img src="~/img/retailSanPablo.webp" loading="lazy" title="Diapro en San Pablo" alt="Diapro en San Pablo">
                    </a>
                    <a href="https://www.fahorro.com/tas-hum-diapro-ad-42-bsa.html" target="_blank" rel="noopener">
                        <img src="~/img/retailFarmAhorro.webp" loading="lazy" title="Diapro en Farmacias Ahorro" alt="Diapro en Farmacias Ahorro">
                    </a>
                    <a href="https://www.soriana.com/soriana/es/c/Salud-y-Belleza/Farmacia/Incontinencia/Toallas-Humedas-p-Incontinencia-Diapro-con-Aloe-42-piezas/p/11261359" target="_blank" rel="noopener">
                        <img src="~/img/retailSoriana.webp" loading="lazy" title="Diapro en Soriana" alt="Diapro en Soriana">
                    </a>
                    <a href="https://www.heb.com.mx/diapro-diapro-toallas-humedas-aloe-42-ce-482110.html" target="_blank" rel="noopener">
                    <img src="~/img/retailHeb.webp" loading="lazy" title="Diapro en Heb" alt="Diapro en Heb">
                    </a>
                </div>

            </div>
            <div class="col-md-6 col-sm-12 prodDer">
                <h1>
                    Toallas Húmedas<br>
                    <span class="Diapro4">Diapro<sup>&reg;</sup></span>
                </h1>
                <br>
                <p>Toallas húmedas hipoalergénicas, sin alcohol ni parabenos. </p>
                <div class="col-md-6 col-sm-12 prodLista">
                    <ul>
                        <li>
                            <span>
                                Son el complemento perfecto, ya que son más grandes y resistentes que una toalla húmeda para bebé,
                                garantizando una limpieza rápida, eficaz y suave.
                            </span>
                        </li>
                        <li><span>Tamaño extra grande, cubre toda la mano, hipoalergénicas, sin alcohol, ni parabenos. </span></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 prodLista">
                    <ul>
                        <li><span>Suave Aroma, con Aloe Vera y Vitamina E que ayuda al cuidado de la piel.</span></li>
                    </ul>
                </div><br><br>
                <div class="iconosProd center-block text-center">
                    <img src="~/img/iconAloeVera.webp" class="toallitas" loading="lazy" title="Toallitas con Aloe Vera"
                         alt="Toallitas con Aloe Vera">
                </div><br>


            </div>
        </div>
    </div>
</div>
<!-- Version Moblie -->
<div class="container-fluid d-none d-md-none d-lg-none">
    <div class="row headerprod">
        <div class="col-md-6 col-sm-12 center-block text-center">
            <div class="col-md-6 col-sm-12 prodDer">
                <h1>
                    Toallas Húmedas<br>
                    <span class="Diapro4">Diapro<sup>&reg;</sup></span>
                </h1>
                <br>
            </div>
            <div id="CarouselproductosMobile" class="carousel slide center-block text-center" data-bs-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <ol>
                        <li data-target="#CarouselproductosMobile" data-slide-to="0" class="active"></li>
                        <li data-target="#CarouselproductosMobile" data-slide-to="1"></li>
                        <li data-target="#CarouselproductosMobile" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active" data-bs-interval="4000" role="option">
                            <img src="~/img/toallitasHumedasG1.webp" class="img-responsive" loading="lazy" title="Toallas Húmedas Diapro" alt="Toallas Húmedas Diapro">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000" role="option">
                            <img src="~/img/toallitasHumedasG2.webp" class="img-responsive" loading="lazy" title="Toallitas para higiene" alt="Toallas Húmedas Diapro">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000" role="option">
                            <img src="~/img/toallitasHumedasG3.webp" class="img-responsive" loading="lazy" title="Toallas Húmedas Diapro" alt="Toallas Húmedas Diapro">
                        </div>
                    </div>
                </div>
                <p class="textoDetProd">Toallas Húmedas hipoalergénicas, sin alcohol ni parabenos.</p>
                <div class="col-md-6 col-sm-12 prodLista">
                    <ul>
                        <li>
                            <span>
                                Son el complemento perfecto, ya que son más grandes y resistentes que una toalla húmeda para
                                bebé,
                                garantizando una limpieza rápida, eficaz y suave.
                            </span>
                        </li>
                        <li>
                            <span>Tamaño extra grande, cubre toda la mano, hipoalergénicas, sin alcohol, ni parabenos. </span>
                        </li>
                        <li><span>Suave Aroma, con Aloe Vera y Vitamina E que ayuda al cuidado de la piel.</span></li>
                    </ul>
                </div><br>
                <div class="iconosProd center-block text-center">
                    <img src="~/img/iconAloeVera.webp" loading="lazy" title="Toallas con Aloe Vera" alt="Toallitas con Aloe Vera">
                </div><br>
                <div class="buttonCompraAqui center-block text-center" data-bs-toggle="collapse" href="#retailsMobile" role="button" aria-expanded="false" aria-controls="collapseRetails">
                    <span>COMPRA AQUÍ</span>
                </div>
                <div class="retails collapse" id="retailsMobile">
                    <a href="https://www.farmaciasanpablo.com.mx/cuidado-personal-y-belleza/incontinencia/toallas-para-incontinencia/diapro-toallitas-humedas-para-incontinencia/p/000000000002620484" target="_blank" rel="noopener">
                        <img src="~/img/retailSanPablo.webp" loading="lazy" title="Diapro en San Pablo" alt="Diapro en San Pablo">
                    </a>
                    <a href="https://www.fahorro.com/tas-hum-diapro-ad-42-bsa.html" target="_blank" rel="noopener">
                        <img src="~/img/retailFarmAhorro.webp" loading="lazy" title="Diapro en Farmacias Ahorro" alt="Diapro en Farmacias Ahorro">
                    </a>
                    <a href="https://www.soriana.com/soriana/es/c/Salud-y-Belleza/Farmacia/Incontinencia/Toallas-Humedas-p-Incontinencia-Diapro-con-Aloe-42-piezas/p/11261359" target="_blank" rel="noopener">
                        <img src="~/img/retailSoriana.webp" loading="lazy" title="Diapro en Soriana" alt="Diapro en Soriana">
                    </a>
                    <a href="https://www.heb.com.mx/diapro-diapro-toallas-humedas-aloe-42-ce-482110.html" target="_blank" rel="noopener">
                        <img src="~/img/retailHeb.webp" loading="lazy" title="Diapro en Heb" alt="Diapro en Heb">
                    </a>
                </div>

            </div>

        </div>
    </div>

    <div class="container text-center">
        <div class="row seccProductos center-block text-center">
            <div class="col-md-4 col-sm-12 center-block text-center">
                <div class=" divSeccProductos">
                    <div class="center-block text-center">
                        <p>
                            Pañal Anatómico<br>
                            <span class="diapro1">Para Adulto Diapro<sup>&reg;</sup></span>
                        </p>
                    </div>
                    <div>
                        <img src="~/img/prod-panal-AnatomicoDiapro.webp" class="img-responsive center-block" loading="lazy" title="Pañal Anatómico Diapro" alt="Pañal Anatómico Diapro">
                    </div><br>
                    <div class="butConoceSecc"><a href="/Productos/panal-anatomico-diapro"><span>Conoce más</span></a></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 center-block text-center">
                <div class=" divSeccProductos">
                    <div class="center-block text-center">
                        <p>
                            Predoblados<br>
                            <span class="diapro4">Diapro Gel<sup>&reg;</sup></span>
                        </p>
                    </div>
                    <div>
                        <img src="~/img/prod-panalesPredoblados.webp" class="img-responsive center-block" loading="lazy" title="Diapro pañales predoblados" alt="Diapro pañales predoblados">
                    </div><br>
                    <div class="butConoceSecc"><a href="/Productos/gel-panales-predoblados"><span>Conoce más</span></a></div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 center-block text-center">
                <div class=" divSeccProductos">
                    <div class="center-block text-center">
                        <p>
                            Pants Calzones<br>
                            <span class="diapro2">Diapro<sup>&reg;</sup></span>
                        </p>
                    </div>
                    <div>
                        <img src="~/img/prod-calzones.webp" class="img-responsive center-block" loading="lazy" title="Diapro pants calzones" alt="Diapro pants calzones">
                    </div><br>
                    <div class="butConoceSecc"><a href="/Productos/pants-calzones-diapro"><span>Conoce más</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

@section scripts{
    @*Aquí ingresa las sentencias javascripts que se agregaran al final de la página
        y antes del cierra de la etiqueta </body>*@

}
