<footer class="container-fluid legalscont">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-6"><button class="btnland">Aviso de privacidad</button></div>
                <div class="col-6"><button class="btnland">Legales</button></div>
                <div class="col-12" id="buttonhome">
                    <p>
                        © 2021 Kleen Bebé® <br>

                        Todos los derechos reservados. El uso y el acceso a la información del presente sitio está sujeto a los Términos y Condiciones de uso establecidos en nuestro acuerdo legal.
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>

