@model KCM.ServiciosInternet.Site.Entity.www.gana.kleenbebe.com_1.Data.Data
<div class="homeform">

    <div class="container-fluid" id="intentos">
        <div class="row" id="introw">

            <div class="col-sm-12" id="intcol">
                <div class="row">

                    <div id="intlogo">
                        <img src="/images/logo_animate.gif" alt="">
                    </div>

                    <div class="col-sm-12" id="inthome">
                        <h3>¿Estás list@@ para ganar 1 año de productos para tu bebé?</h3>
                    </div>

                    <div class="col-sm-12" id="inthome">
                        <p>TIENE <span id="numberOfAttemps">@(Model.Body)</span> INTENTOS!</p>
                    </div>

                    <div class="col-sm-12" id="buttonhome">
                        <a href="/Games/Index/@(Model.strUID)" class="btnGo">¡SI! SÚPER LIST@@</a>
                    </div>

                    <div class="col-sm-12" id="buttonhome">
                        <a class="btnGo" id="late" href="/Home/Index">JUGAR MÁS TARDE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
