
@{
    ViewBag.Title = "error404";
}

@section metas{
    @* Aquí colocar los metas que van en <head> *@

}

@section styles{

    @*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@


}


<h2>error404</h2>

<div class="container">
    <div class="row center-block text-center" style="padding:20%">
        <div class="col-md-12 col-sx-12">
            <h1>¡Algo salió mal!</h1>
            <h2 style="color: red;">No encontramos lo que estas buscando</h2><br>
            <a href="/Home/Index" class="btn btn-info" role="button">Ir al inicio</a>
        </div>
    </div>
</div>

@section scripts{
    @*Aquí ingresa las sentencias javascripts que se agregaran al final de la página
        y antes del cierra de la etiqueta </body>*@


}
