@{
    ViewBag.Title = "Home Page";
}


@section metas{
    @*Aquí coloca los metas*@

}

@section styles{

    @*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@
    <link href="~/css/sso/registrogamestyle.css" rel="stylesheet" />
}


<main class="kbb_game">
    <div id="registro">
        <form class="registroSSOform" action="" autocomplete="off" data-ajax="true" data-ajax-confirm="" data-ajax-failure="" data-ajax-loading="" data-ajax-method="Post" data-ajax-mode="" data-ajax-update="" method="post" novalidate="novalidate">
            <div class="registroSSOcontent" id="registroSSOsign-in">

                <div class="registroSSO-wrapper registroSSO-row">
                    <label for="registroSSOemail" class="registroSSO-label">Ingresa tu correo electrónico</label>
                    <div>
                        <input type="text" name="registroSSOemail" id="registroSSOemail" class="registroSSOform-control" aria-describedby="ayuda-registroSSOemail" placeholder="Ingresa tu email" data-val="true" data-val-email="La dirección de E-mail no es válida" data-val-required="Por favor ingresa tu correo electrónico" data-field-object="profile.email" />
                        <span class="field-validation-valid" data-valmsg-for="registroSSOemail" data-valmsg-replace="true" style="color:white"></span>
                    </div>
                </div>

                <div class="registroSSO-wrapper registroSSO-row">
                    <label for="registroSSOpassword" class="registroSSO-label">Crea una contraseña</label>
                    <div>
                        <input type="password" name="registroSSOpassword" id="registroSSOpassword" class="registroSSOform-control" aria-describedby="ayuda-registroSSOpassword" placeholder="Ingresa contraseña"
                               data-val="true" data-val-required="Por favor ingresa tu correo electrónico" data-field-object="password" />
                        <span class="field-validation-valid" data-valmsg-for="registroSSOpassword" data-valmsg-replace="true" style="color:white"></span>
                    </div>
                </div>

                <div class="registroSSOforgot">
                    <p><a href="#" data-reset-Password="true">¿Olvidaste tu contraseña?</a></p>
                </div>

            </div>


            <div class="gigyaJFMform-wrapper">
                <div id='gigyaJFMLOGIN_Recaptcha'></div>
            </div>

            <div class="form-group">
                <span class="field-validation-valid" data-msg-error="true" data-valmsg-replace="true" style="color:white"></span>
            </div>

            <button class="registroSSObtn-registro">
                Entrar
            </button>
        </form>
    </div>
</main>

@section scripts{

    @*Aquí pones los scripts*@

}
