
@{
    Layout = null;
}

<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/all.css">
    <link type="text/css" rel="stylesheet" href="~/css/estilos.css">

    <!-- Begin Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NVS2XTM');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3S39EXHSBP"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-3S39EXHSBP');
    </script>




    <title>Kleenex® Mascarillas / Home</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NVS2XTM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid" id="logo">
      <a class="navbar-brand" href="/home/index">
        <img src="~/images/km_logo.webp" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse support" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home/index">Kleenex® Mascarillas</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="/home/index#icons">Características</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/home/index#presentaciones">Presentaciones</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/home/index#especial">Ediciones Especiales</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/home/index#reseñas">Reseñas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/Preguntasfrecuentes/index">Preguntas Frecuentes</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

    <section id="hero" class="container-fluid">
      <div class="row">
        
        <div class="d-none d-md-block">
          <img src="~/images/heroimage.webp" alt="">
        </div>

        <div class="d-md-none">
          <img src="~/images/mascarilla_headmobile.webp" alt="">
        </div>

        <div class="col-12" id="heroelemt">
          <div class="row">
            <div class="col-12" id="herotest">
              <h1>Conoce Kleenex® Mascarillas</h1>
              <p>Cuídate y cuida a quien más quieres con la protección y suavidad de las nuevas mascarillas desechables Kleenex®.</p>
              <button type="button" class="btn formbtn1" data-bs-toggle="modal" data-bs-target="#modalvideo">
                VER <span><i class="far fa-play-circle"></i></span> VIDEO
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="modalvideo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header" id="modhead">
                      <h5 class="modal-title" id="staticBackdropLabel">Conoce nuestro video </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="videomod">
                      <div style="height: 0; overflow: hidden; padding-bottom: 50%; padding-top: 30px; position: relative; width: 90%; margin: auto;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/pmhPNCt5CAc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="tech" class="container-fluid">
      <div class="row">

        <div id="cont-tech" class="col-sm-12">
          <h2>Tecnología Kleenex® Mascarillas</h2>
            <p>Kleenex Mascarillas® te ofrecen toda la calidad y suavidad de los     productos Kleenex®.</p>
            <img class="d-none d-md-block" src="~/images/mascarilla.webp" alt="">
            <img class="d-md-none" src="~/images/mascarillatech_mobile.webp" alt="">
        </div>
      </div>
    </section>

    <section class="container-fluid d-md-none text-center" id="icons">
      <h2>3 CAPAS DE PROTECCIÓN</h2>
          <p>Kleenex® Mascarillas cuentan con tres capas de material de filtración para un cuidado suave y efectivo.</p>
      <div class="row">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div id="carrusel" class="carousel-item active">
              <img src="~/images/capa1.webp" alt="">
          <h4>Capa interna</h4>
          <p>Capa suave al contacto con la piel.
            Comodidad para un uso continuo*.</p>
            </div>

            <div id="carrusel" class="carousel-item">
              <img src="~/images/capa2.webp" alt="">
          <h4>Capa intermedia</h4>
          <p>Capa de filtración de partículas para una mejor respiración.</p>
            </div>

            <div id="carrusel" class="carousel-item">
              <img src="~/images//capa3.webp" alt="">
          <h4>Capa externa</h4>
          <p>Capa exterior de propileno.
            Ajustable a todo tipo de rostro.</p>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </section>

    <section id="icons" class="container-fluid d-none d-md-block text-center">
      <div class="row fadeLeft" id="icon_element">
        <div class="col-12">
          <h2>3 CAPAS DE PROTECCIÓN</h2>
          <p>Kleenex® Mascarillas cuentan con tres capas de material de filtración para un cuidado suave y efectivo.</p>
        </div>
        <div id="shape" class="col-md-4">
          <img src="~/images/capa1.webp" alt="">
          <h4>Capa interna</h4>
          <p>Capa suave al contacto con la piel.
            Comodidad para un uso continuo*.</p>
        </div>
        <div id="shape" class="col-md-4">
          <img src="~/images/capa2.webp" alt="">
          <h4>Capa intermedia</h4>
          <p>Capa de filtración de partículas para una mejor respiración.</p>
        </div>
        <div id="shape" class="col-md-4">
          <img src="~/images//capa3.webp" alt="">
          <h4>Capa externa</h4>
          <p>Capa exterior de propileno.
            Ajustable a todo tipo de rostro.</p>
        </div>
      </div>
    </section>

    <section id="certifica">
      <div class="row">
        <div class="col-md-5">
          <img src="~/images/dermatest.webp" alt="">
        </div>

        <div class="col-md-7 certext">
          <h2>DERMATOLÓGICAMENTE PROBADAS</h2>
          <p>Certificado por Dermatest bajo los más altos estándares de calidad 
            por directrices de la Sociedad Alemana de Dermatología y de la Sociedad 
            Alemana de Alergología e Inmunología Clínica.</p>
        </div>
      </div>
    </section>

    <section class="container mt-3 mb-3" id="pridebanner">
      <div class="row">
        <div class="col-12">
          <a href="/Pride/index">
          <img src="~/images/banner_pride.webp" alt="Conoce Kleenex Mascarillas Pride">
          </a>
        </div>
      </div>
    </section>

<section class="container-fluid product_press" id="presentaciones">
  <div class="row text-center justify-content-center">
    <div class="col-12 preshead">
      <h2>PRESENTACIONES</h2>
      <p>Conoce las distintas presentaciones y conteos de Kleenex® Mascarillas</p>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-3 preselemt">
      <img src="~/images/press_1pieza.webp" alt="">
      <h3>Kleenex® Mascarillas 1s</h3>
      <p>Disponible en blanco</p>
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#mask1pieza">
          VER MÁS
        </button>

        <!-- Modal -->
          <div class="modal fade" id="mask1pieza" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-xl modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-6 prodimg">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-indicators">
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="~/images/front_1pieza.webp" class="d-block" alt="Kleenex Mascarillas 1pza frente">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/back_1pieza.webp" class="d-block" alt="Kleenex Mascarillas 1pza vista trasera">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/mascarilla_blanca.webp" class="d-block" alt="Kleenex Mascarillas Mask Blanca">
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span style="background-color:#0084ff; border-radius: 10px;"  class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span style="background-color:#0084ff; border-radius: 10px;"  class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      </div>
                      <div class="col-sm-6 prodinfo">
                        <p><span>MASCARILLA DESECHABLE</span></p>
                        <h2>KLEENEX® MASCARILLAS 1s</h2>
                        <p>CONTENIDO: 1PZA</p>
                        <ul>
                        <li>Lleva la protección suave y eficiente de Kleenex® Mascarillas contigo en presentación bolsa con sello hermético.</li>
                        <li>3 capas de material de filtración.</li>
                        <li>Dermatológicamente probadas.</li>
                        <li>Con puente nasal ajustable para un uso cómodo.</li>
                        <li>Mascarilla desechable de un solo uso.</li>
                        <li>No es un producto de uso médico u hospitalario.</li>
                      </ul>
                        <p><span>COLOR BLANCO DISPONIBLE EN:</span></p>
                          <div class="col-sm-12">
                            <div class="row shop2">
                              <div class="col-4 retail">
                                <img src="~/images/oxxo.webp" alt="">
                              </div>
                              <div class="col-4 retail">
                                <img src="~/images/fahorro.webp" alt="">
                              </div>
                              <div class="col-4 retail">
                                <img src="~/images/walmart.webp" alt="">
                              </div>

                              <div class="col-4 retail">
                                <img src="~/images/soriana.webp" alt="">
                              </div>
                              <div class="col-4 retail">
                                <img src="~/images/ley.webp" alt="">
                              </div>
                            </div >
                          </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="col-sm-12 col-md-6 col-xl-3 preselemt">
      <img src="~/images/press_5pieza.webp" alt="">
      <h3>Kleenex® Mascarillas 5s</h3>
      <p>Disponible en blanco, negro y azul</p>
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#mask5pieza">
          VER MÁS
        </button>

        <!-- Modal -->
          <div class="modal fade" id="mask5pieza" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-xl modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-6">
                        <div id="carouselExampleIndicatorsdos" class="carousel slide" data-bs-ride="carouseldos">
                          <div class="carousel-indicators">
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorsdos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorsdos" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorsdos" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorsdos" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorsdos" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorsdos" data-bs-slide-to="5" aria-label="Slide 6"></button>
                          </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="~/images/front_azul.webp" class="d-block w-150" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/front_blanco.webp" class="d-block w-150" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/front_gris.webp" class="d-block w-150" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/front_negro.webp" class="d-block w-150" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/back_colors.webp" class="d-block w-150" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/mask_azul.webp" class="d-block w-150" alt="...">
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsdos" data-bs-slide="prev">
                            <span style="background-color:#0084ff; border-radius: 10px;"  class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsdos" data-bs-slide="next">
                            <span style="background-color:#0084ff; border-radius: 10px;"  class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      </div>
                      <div class="col-sm-6 prodinfo">
                        <p>MASCARILLA DESECHABLE</p>
                        <h2>KLEENEX® MASCARILLAS 5s</h2>
                        <p>CONTENIDO: 5PZA</p>
                        <p>Lleva la protección suave y eficiente de Kleenex® Mascarillas contigo en presentación bolsa con sello hermético.</p>
                        <p>3 capas de material de filtración.</p>
                        <p>Dermatológicamente probadas.</p>
                        <p>Con puente nasal ajustable para un uso cómodo.</p>
                        <p>Mascarilla desechable de un solo uso.</p>
                        <p>No es un producto de uso médico u hospitalario.</p>
                        <p>COLOR BLANCO DISPONIBLE EN</p>
                        <div class="col-sm-12">
                          <div class="row shop2">
                            <div class="col-4 retail">
                              <img src="~/images/soriana.webp" alt="">
                            </div>
                            <div class="col-4 retail">
                              <img src="~/images/chedrahui.webp" alt="">
                            </div>
                            <div class="col-4 retail">
                              <img src="~/images/walmart.webp" alt="">
                            </div>

                            <div class="col-4 retail">
                              <img src="~/images/heb.webp" alt="">
                            </div>
                            <div class="col-4 retail">
                              <img src="~/images/ley.webp" alt="">
                            </div>
                            <div class="col-4 retail">
                              <img src="~/images/woolworth.webp" alt="">
                            </div>

                            <div class="col-4 retail">
                              <img src="~/images/liverpool.webp" alt="">
                            </div>
                            <div class="col-4 retail">
                              <img src="~/images/amazon.webp" alt="">
                            </div>
                          </div >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="col-sm-12 col-md-6 col-xl-3 preselemt">
      <img src="~/images/press_10pieza.webp" alt="">
      <h3>Kleenex® Mascarillas 10s</h3>
      <p>Disponible en blanco</p>
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#mask10pieza">
          VER MÁS
        </button>

        <!-- Modal -->
          <div class="modal fade" id="mask10pieza" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-xl modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-6">
                        <div id="carouselExampleIndicatorstres" class="carousel slide" data-bs-ride="carouseltres">
                          <div class="carousel-indicators">
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorstres" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorstres" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorstres" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="~/images/front_diez.webp" class="d-block w-150" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/back_diez.webp" class="d-block w-150" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/mascarilla_blanca.webp" class="d-block w-150" alt="...">
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorstres" data-bs-slide="prev">
                            <span style="background-color:#0084ff; border-radius: 10px;"  class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorstres" data-bs-slide="next">
                            <span style="background-color:#0084ff; border-radius: 10px;"  class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      </div>
                      <div class="col-sm-6 prodinfo">
                        <p>MASCARILLA DESECHABLE</p>
                        <h2>KLEENEX® MASCARILLAS 10s</h2>
                        <p>CONTENIDO: 10PZA</p>
                        <p>Lleva la protección suave y eficiente de Kleenex® Mascarillas contigo en presentación bolsa con sello hermético.</p>
                        <p>3 capas de material de filtración.</p>
                        <p>Dermatológicamente probadas.</p>
                        <p>Con puente nasal ajustable para un uso cómodo.</p>
                        <p>Mascarilla desechable de un solo uso.</p>
                        <p>No es un producto de uso médico u hospitalario.</p>
                        <p>COLOR BLANCO DISPONIBLE EN</p>
                        <div class="col-sm-12">
                          <div class="row shop2">
                            <div class="col-4 retail">
                              <img src="~/images/heb.webp" alt="">
                            </div>
                            <div class="col-4 retail">
                              <img src="~/images/liverpool.webp" alt="">
                            </div>
                            <div class="col-4 retail">
                              <img src="~/images/amazon.webp" alt="">
                            </div>

                            <div class="col-4 retail">
                              <img src="~/images/soriana.webp" alt="">
                            </div>
                            <div class="col-4 retail">
                              <img src="~/images/ley.webp" alt="">
                            </div>
                            <div class="col-4 retail">
                              <img src="~/images/chedrahui.webp" alt="">
                            </div>
                          </div >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="col-sm-12 col-md-6 col-xl-3 preselemt">
      <img src="~/images/press_50pieza.webp" alt="">
      <h3>Kleenex® Mascarillas 50s</h3>
      <p>Disponible en blanco y negro</p>
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#mask50pieza">
          VER MÁS
        </button>

        <!-- Modal -->
          <div class="modal fade" id="mask50pieza" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-xl modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-6">
                        <div id="carouselExampleIndicatorscuatro" class="carousel slide" data-bs-ride="carouselExampleIndicatorscuatro">
                          <div class="carousel-indicators">
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorscuatro" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorscuatro" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorscuatro" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button style="background-color:#0084ff;" type="button" data-bs-target="#carouselExampleIndicatorscuatro" data-bs-slide-to="3" aria-label="Slides 4"></button>
                          </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="~/images/front_cincuentaBlan.webp" class="d-block w-150" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/front_cincuenta.webp" class="d-block w-150" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/back_cincuenta.webp" class="d-block w-150" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="~/images/mask_negra.webp" class="d-block w-150" alt="...">
                            </div>
                          </div>

                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorscuatro" data-bs-slide="prev">
                            <span style="background-color:#0084ff; border-radius: 10px;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>

                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorscuatro" data-bs-slide="next">
                            <span style="background-color:#0084ff; border-radius: 10px;" class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>

                        </div>
                      </div>
                      <div class="col-sm-6 prodinfo">
                        <p>MASCARILLA DESECHABLE</p>
                        <h2>KLEENEX® MASCARILLAS 50s</h2>
                        <p>CONTENIDO: 50PZA</p>
                        <p>Lleva la protección suave y eficiente de Kleenex® Mascarillas contigo en presentación bolsa con sello hermético.</p>
                        <p>3 capas de material de filtración.</p>
                        <p>Dermatológicamente probadas.</p>
                        <p>Con puente nasal ajustable para un uso cómodo.</p>
                        <p>Mascarilla desechable de un solo uso.</p>
                        <p>No es un producto de uso médico u hospitalario.</p>
                        <p>COLOR BLANCO DISPONIBLE EN</p>
                          <div class="col-12">
                          <img src="~/images/cityclub.webp" alt="">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                </div>
              </div>
            </div>
          </div>
    </div>
 
  </div>
</section>

    <section id="qual" class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6 qualtext">
          <h2>CUIDA A QUIEN MÁS QUIERES</h2>
          <p>La protección suave y efectiva de Kleenex® Mascarillas te permite cuidar lo más valioso: Tu salud.
            Por ti, por todos, por México.</p>

            <p> <i class="far fa-check-circle"></i> 3 capas de material de filtración</p>
            <p> <i class="far fa-check-circle"></i> Suavidad</p>
            <p> <i class="far fa-check-circle"></i> Comodidad</p>
            <p> <i class="far fa-check-circle"></i> Colores y diseños especiales</p>
        </div>

        <div class="col-sm-12 col-md-6">
          <img src="~/images/mascarillas2.webp" alt="">
        </div>

      </div>
    </section>

    <section id="especial">
      <div class="row">
        <div class="col-sm-12 col-md-6 one order-1 order-md-1">
          <img src="~/images/mascarilla_mujer.webp" alt="">
        </div>

        <div id="esptext" class="col-sm-12 col-md-6 order-2 order-md-2">
          <h3>Edición Especial - Día de la Mujer</h3>
          <p>Equidad, Libertad, Sororidad, conmemoramos el Día de la Mujer 2021 con una edición limitada de Kleenex® Mascarillas con el objetivo de brindar visibilidad a las distintas problemáticas por las que atraviesan las mujeres mexicanas.
            En Kimberly-Clark de México realizamos iniciativas en apoyo a distintas organizaciones con distintas causas en beneficio de las mujeres de México.</p>
            <div class="col-12 shop">
              <p>DÓNDE COMPRAR</p>
              <div class="row">
                <div class="col-4"><a href=""><img src="~/images/soriana_baja.webp" alt=""></a></div>
                <div class="col-4"><a href=""><img src="~/images/walmart_baja.webp" alt=""></a></div>
                <div class="col-4"><a href=""><img src="~/images/amazon_baja.webp" alt=""></a></div>
              </div>
            </div>
        </div>

        <div id="esptext" class="col-sm-12 col-md-6 order-4 order-md-3">
          <h3>Edición Especial - PRIDE</h3>
          <p>Amor es amor. Celebramos la diversidad, equidad e inclusión de todas las personas con una edición especial de Kleenex® Mascarillas.
            Igualmente realizamos iniciativas en apoyo a distintas causas y colectivos que impactan directa y positivamente a la comunidad LGBTIQ+</p>
            <div class="col-12 shop">
              <p>DÓNDE COMPRAR</p>
              <div class="row">
                <div class="col-4"><a href="https://amzn.to/3g9nIbm" target="_blank"><img src="~/images/amazon_baja.webp" alt=""></a></div>
                <div class="col-4"><a href=""><img src="~/images/walmart_baja.webp" alt=""></a></div>
                <div class="col-4"><a href=""><img src="~/images/soriana_baja.webp" alt=""></a></div>
                
              </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 two order-3 order-md-4">
          <img  src="~/images/mask_pride.webp" alt="">
        </div>

      </div>
    </section>

    <section class="container-fluid d-none d-md-block" id="reseñas">
      <div class="row">
        <div class="col-12 reshead">
          <h2>Reseñas</h2>
          <p>Descubre lo que opinan los consumidores que ya probaron las nuevas mascarillas desechables Kleenex®</p>
        </div>
        <div class="col-4 review">
          <i class="fas fa-quote-left"></i>
          <p>Excelente mascarilla, es tricapa pero cubre muy bien y deja respirar, 
            para los que usamos lentes es una maravilla que por la forma no se 
            empañan los lentes. Cumplen perfecto su función y el precio me parece 
            razonable.</p>
            <p><span>Arturo O.</span></p>
        </div>

        <div class="col-4 review">
          <i class="fas fa-quote-left"></i>
          <p>Se me hacen muy cómodas, son las únicas que no me han lastimado la nariz 
            ni dejado la marca y se sienten muy seguras ya que se ajustan perfectamente 
            a mi cara.</p>
            <p><span>Jackelyne A.</span></p>
        </div>

        <div class="col-4 review">
          <i class="fas fa-quote-left"></i>
          <p>Me gustan mucho estas mascarillas, son muy cómodas y cumplen con su propósito. 
            A veces uso doble mascarilla y esta se presta bien para ponerla encima de otra.</p>
            <p><span>Alfredo R.</span></p>
        </div>

      </div>
    </section>

    <section class="container-fluid d-md-none" id="reseñas">
      <div class="row">

        <div class="col-12 reshead">
          <h2>Reseñas</h2>
          <p>Descubre lo que opinan los consumidores que ya probaron las nuevas mascarillas desechables Kleenex®</p>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div id="carrusel" class="carousel-item active review">
              <i class="fas fa-quote-left"></i>
          <p>Excelente mascarilla, es tricapa pero cubre muy bien y deja respirar, 
            para los que usamos lentes es una maravilla que por la forma no se 
            empañan los lentes. Cumplen perfecto su función y el precio me parece 
            razonable.</p>
            <p><span>Arturo O.</span></p>
            </div>

            <div id="carrusel" class="carousel-item review">
              <i class="fas fa-quote-left"></i>
          <p>Se me hacen muy cómodas, son las únicas que no me han lastimado la nariz 
            ni dejado la marca y se sienten muy seguras ya que se ajustan perfectamente 
            a mi cara.</p>
            <p><span>Jackelyne A.</span></p>
            </div>

            <div id="carrusel" class="carousel-item review">
              <i class="fas fa-quote-left"></i>
          <p>Me gustan mucho estas mascarillas, son muy cómodos y cumplen con su propósito. 
            A veces uso doble cubrebocas y este se presta bien para ponerlo encima de otro.</p>
            <p><span>Alfredo R.</span></p>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </section>

    <footer id="contacto">
      <div class="row align-items-center">

        <div class="col-12 enlaces">
          <div class="row">
            <div class="col-4">
              <a href="/home/index">inicio</a>
            </div>
            <div class="col-4">
              <a href="/aviso/index" >Aviso de Privacidad</a>
            </div>
            <div class="col-4">
              <a href="#" >Escríbenos</a>
            </div>
            <div class="col-12 phone"><p>Llámanos CDMX 55-52-82-73-83   I   Int. República 800-46-56-839 </p></div>
          </div>
        </div>

        <div id="privacidad" class="col-sm-12">
          <h4>©2021 Kimberly-Clark de México S.A.B. de C.V.</h4>
          <p>Todos los nombres, logotipos y marcas registradas son propiedad Kimberly-Clark WorldWide Inc., o sus subsidiarias o afiliadas. © Derechos reservados KCWW 2021</p>
          <p>Tu visita a este sitio y tu subsecuente uso de la información contenida en él están sujetos a los términos de nuestra Declaración Legal. Por favor revisa Nuestra Política de privacidad.</p>
        </div>

      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer type='text/javascript' src="~/js/jquery-3.6.0.min.js"></script>
    <script defer type='text/javascript' src="~/js/bootstrap.min.js"></script>
    <script defer type='text/javascript' src="~/js/fontawesome.min.js"></script>
    <script defer type='text/javascript' src="~/js/myscripts.js"></script>
</body>
</html>