
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/all.css">
    <link type="text/css" rel="stylesheet" href="~/css/estilos.css">

    <title>Kleenex® Mascarillas /Home</title>
</head>
<body>
    <div>
        http error 404 not found
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type='text/javascript' src="~/js/jquery-3.6.0.min.js"></script>
    <script defer type='text/javascript' src="~/js/bootstrap.min.js"></script>
    <script defer type='text/javascript' src="~/js/fontawesome.min.js"></script>
    <script defer type='text/javascript' src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script defer type='text/javascript' src="~/js/jquery.validate.min.js"></script>
    <script defer type='text/javascript' src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script defer type='text/javascript' src="~/js/xss.min.js"></script>
</body>
</html>
