
@{
    ViewBag.Title = "Cuidado de pacientes en cama | Productos para Incontinencia";
}

@section metas{
    <meta id="ctl00_MetaDesc" name="description" content="Problemas y recomendaciones" />
    <meta id="ctl00_MetaKey" name="keywords" content="incontinencia, cuidadores, paciente, diapro" />
<link rel="canonical" href='@(ViewBag.UrlSite + "/Cuidadores/cuidado_pacientes_cama")' />
}

@section styles{

    @*Aquí ingresa los estilos que se colocaran en el html <head> de la página*@


}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 headerArt">
            <img src="~/img/headerCuidadoPaciantesCama.webp" title="Pacientes en cama y sus cuidados" alt="Pacientes en cama y sus cuidados" class="img-responsive d-none d-sm-none d-lg-block">
             <img src="~/img/headerCuidadoPaciantesCamaMobile.webp" title="Pacientes en cama y sus cuidados" alt="Cuidado de Pacientes en cama" class="img-responsive d-lg-none d-md-none">
        </div>
    </div>
</div>

    <div class="container artIncontinencia">
        <h1>Cuidado de pacientes en cama</h1>
        <p>Un paciente postrado es aquel que, por diferentes motivos (edad, accidente, enfermedad), está obligado a
            permanecer inmóvil en la cama.</p>
        <p>Algunos problemas que pueden presentar estos pacientes, si no tenemos el debido cuidado, son:</p>
        <p>Alteraciones en la circulación, que facilitan la aparición de trombosis venosas, tromboflebitis y embolias pulmonares.</p>
        <p>Mala ventilación pulmonar con retención de secreciones y predisposición a las infecciones respiratorias.</p>
        <p>Pérdida de masa muscular, generando atrofia y debilidad muscular, afectación del hueso con pérdida de masa
            ósea y el desarrollo precoz de osteoporosis.</p>
        <p>Rigidez articular con posibilidad de anquilosis de las articulaciones, generando pérdida funcional y dolor.
        </p>
        <p>Alteraciones emocionales, que pueden llevar a depresión, ansiedad, incertidumbre, dependencia excesiva,
            regresión.</p>
        <p>Sin embargo, lo más común es la aparición de úlceras por presión, que son heridas en la piel ocasionadas por
            la presión continua sobre una misma zona, lo que genera una muerte rápida de los tejidos y puede llegar
            hasta el hueso.</p>
        <p>Las zonas con prominencias óseas suelen ser las más afectadas por las úlceras por presión. Inician con una
            zona de piel enrojecida, luego se forma una ampolla y posteriormente una costra oscura (tejido muerto), que
            se puede extender hasta el músculo o hueso.
        <p>Para evitarlas, te recomendamos lo siguiente:
        <p>Mantener una adecuada higiene corporal, mediante el lavado con agua y jabón, seguido de enjuague y secado.
        </p>
        <p>Mantener la piel y ropa en contacto con el paciente limpia y seca.</p>
        <p>Usar ropa cómoda, de tela suave, evitando arrugas que puedan tallar la piel (también aplica para las
            sábanas).</p>
        <p>Aplicar en la piel crema hidratante, sobre todo después del baño.</p>
        <p>Utilizar Pañales absorbentes que mantenga la piel seca y hacer los cambios oportunamente según el uso.</p>
        <p>No realizar masajes en áreas enrojecidas.</p>
        <p>Revisar la piel varias veces al día, para detectar zonas enrojecidas (éstas mejoran si no se vuelve apoyar al
            paciente sobre la lesión hasta que se elimine el enrojecimiento).</p>
        <p>Elevar por encima del colchón las zonas que se ulceran con mayor frecuencia o las zonas ulceradas, ubicando
            almohadas, cojines o cobijas.</p>
        <p>Realizar cambios de posición en la cama mínimo cada dos horas.</p>
        <p>Y en general te recomendamos:</p>
        <p>Estimular ejercicios que el paciente pueda realizar, solo o con ayuda, en cada una de las articulaciones.</p>
        <p>Si está consciente, realizar ejercicios respiratorios lentos y controlados; si no, cambiarlo de posición y
            mantener su cabeza elevada.</p>
        <p>Estimularlo para que mantenga el mayor nivel de autonomía y la máxima movilidad durante el mayor tiempo
            posible.</p>
        <p>Lavarle la boca y los dientes, aunque no coma, al menos dos veces al día.</p>
        <p>Si tiene dentadura postiza, retirarla para su limpieza y antes de dormir.</p>
        <p>Hidratar sus labios con vaselina.</p>
        <br>
    </div>

@Html.Partial("_panalAtomico")

@Html.Partial("_sliderCuidadores")


@section scripts{
    @*Aquí ingresa las sentencias javascripts que se agregaran al final de la página
        y antes del cierra de la etiqueta </body>*@


}


